<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/main}">
<head>
	<title th:text="*{aviso!=null}?  #{message.avisos.form.edit} : #{message.avisos.form.new}"></title>
</head>
<body>
		
	<div layout:fragment="content" class=".col-md">
		<section class="g-py-15">
			<div class="u-heading-v1-1 g-bg-main g-brd-transparent g-pa-30">
				<h2 class="h3 u-heading-v1__title" th:text="*{aviso!=null}?  #{message.avisos.form.edit} : #{message.avisos.form.new}"></h2>
			</div>

		<form class="g-pa-30 g-mb-30" th:object="${aviso}" th:action="@{/admin/avisos/save}" method="post" enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}" />
			<div th:replace="~{fragments/inputs/dateField :: input(#{message.avisos.form.label.date}, 'fecha', #{message.avisos.form.error.date}, true, false)}"></div>
			<div th:replace="~{fragments/inputs/textareaField :: input(#{message.avisos.form.label.description}, 'descripcion', #{message.avisos.form.error.description}, 4, 50, false, false)}"></div>
			<div th:replace="~{fragments/inputs/fileField :: input(#{message.avisos.form.label.file}, #{message.avisos.form.button.file}, 'fileToUpload', #{message.avisos.form.error.file}, false, false)}"></div>	
			<div class="d-flex justify-content-between g-mt-30">
				<div>
					<a href="avisos.html" th:href="@{/admin/avisos}" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15" th:text="#{message.avisos.form.button.back}">Atras</a>
				</div>
				<div>
					<button type="submit" class="btn btn-md u-btn-primary rounded-0" th:text="#{message.avisos.form.button.save}">Guardar Apertura</button>
				</div>
			</div>
	</form>
	</div>
</body>
</html>