<!DOCTYPE html>
<html lang="es" layout:decorate="~{layouts/main}">
<head>
	<head>
		<title th:text="#{message.documentos.table.header}">Documentos</title>
	</head>
	<body>
	
		<div layout:fragment="content">
			<div th:replace="~{fragments/admin/navbar :: navbar}"></div>
			<div th:replace="~{fragments/adminTable :: adminTable('user', #{message.documentos.table.header}, 'admin/documentos', ~{::table})}"></div>
			<div th:replace="~{fragments/paginationBar :: paginationBar(${page})}"></div>
		</div>
	
		<table class="table u-table--v1 mb-0 table-striped table-hover">
			<thead>
				<tr class="g-col-border-top-0">
					<th>#</th>
					<th th:text="#{message.documentos.table.header.type}">tipo</th>
					<th th:text="#{message.documentos.table.header.description}">Descripción</th>
					<th th:text="#{message.documentos.table.header.state}">Estado</th>
				</tr>
			</thead>
			<tbody th:if="${documentos.getNumberOfElements()}">
				<tr th:each="documento, itr : ${documentos}" th:href="@{/admin/documentos/edit/{id}(id=${documento.id})}">
					<th scope="row">
						<fieldset class="g-pt-2">
							<div>
								<label>
									<input type="radio" name="optionsRadios" th:id="${'option' + documento.id}" th:checked="${itr.index == 0}" th:value="${documento.id}"
									/>
								</label>
							</div>
						</fieldset>
					</th>	
					<td th:text="${documento.fichero!=null} ? ${documento.fichero.tipo}: ''"></td>
					<td th:switch="${documento.fichero}">
							<span th:case="null" th:text="${documento.descripcion}" ></span>
							<span th:case="*"><a th:text="${documento.descripcion}" th:href="@{/download/}+${encrypt.encrypt(documento.fichero.id)}" target="_blank"><div class="download">&nbsp;</div></a></span>
					</td>					
					<td th:text="${#strings.capitalize(documento.estado)}"> </td>
				</tr>
			</tbody>
			<tbody th:unless="${documentos.getNumberOfElements()}"> 
				<tr>
					<td colspan="7" th:text="#{message.warning.not.exist}"></td>
				</tr>
			</tbody>			
		</table>
 </body>
 </html>