<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main}">

<head>
	<title th:text="*{documentacion.id!=null}?  #{message.documentos.form.edit} : #{message.documentos.form.new}"></title>
</head>

<body>

	<div layout:fragment="content" class=".col-md">
		<section class="g-py-15 g-pt-130">
			<div class="u-heading-v1-1 g-bg-main g-brd-transparent g-pa-30">
				<h2 class="h3 u-heading-v1__title" th:text="*{documentacion.id!=null}?  #{message.documentos.form.edit} : #{message.documentos.form.new}"></h2>
			</div>

			<form class="g-pa-30 g-mb-30" th:object="${documentacion}" th:action="@{/admin/documentos/save}" method="post" enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}" />
			<div th:replace="~{fragments/inputs/textareaField :: input(#{message.documentos.form.label.description}, 'descripcion', #{message.error.notempty}, 4, 50, true, false)}"></div>
			<div th:replace="~{fragments/inputs/selectField :: input(#{message.documentos.form.label.state}, 'estado', ${estados}, #{message.documentos.form.voidselection.means}, #{message.error.notempty}, false, false)}"></div>
			<div th:replace="~{fragments/inputs/fileField :: input(#{message.documentos.form.label.file}, #{message.documentos.form.button.file}, 'fileToUpload', #{message.error.notempty}, false, false)}"></div>	
				<div th:replace="~{fragments/formButtons :: formButtons(@{/admin/documentos}, #{message.documentos.form.button.back}, #{message.documentos.form.button.save})}"></div>
			</form>
		</section>
	</div>
</body>

</html>