<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main}">

<head>
	<title th:text="*{noticia!=null}?  #{message.news.form.edit} : #{message.news.form.new}"></title>
	<script src="../static/vendor/ckeditor/ckeditor.js" th:src="@{/vendor/ckeditor/ckeditor.js}"></script>

</head>

<body>

	<div layout:fragment="content" class=".col-md">
		<section class="g-py-15 g-pt-130">
			<div class="u-heading-v1-1 g-bg-main g-brd-transparent g-pa-30">
				<h2 class="h3 u-heading-v1__title" th:text="*{noticia!=null}?  #{message.news.form.edit} : #{message.news.form.new}"></h2>
			</div>

			<form class="g-pa-30 g-mb-30" th:object="${noticia}" th:action="@{/admin/noticias/save}" method="post">
				<input type="hidden" th:field="*{id}" />
				<div th:replace="~{fragments/inputs/textField :: input(#{message.news.form.label.title}, 'titulo', 'text', true)}"></div>
				<div th:replace="~{fragments/inputs/textareaField :: input (#{message.news.form.label.new}, 'descripcion', #{message.news.form.error.new}, 4, 48, true, false)}"></div>
				<div th:replace="~{fragments/formButtons :: formButtons(@{/admin/noticias}, #{message.news.form.button.back}, #{message.news.form.button.save})}"></div>

				<script>
					CKEDITOR.replace('descripcion');
				</script>
			</form>
		</section>
	</div>
</body>

</html>