<!DOCTYPE html>
<html lang="es" layout:decorate="~{layouts/main}">
<head>
	<head>
		<title th:text="#{message.news.table.header}">Noticias</title>
	</head>
	<body>
	
		<div layout:fragment="content">	
			<div th:replace="~{fragments/admin/navbar :: navbar}"></div>		
			<div th:replace="~{fragments/adminTable :: adminTable('user', #{message.news.table.header}, 'admin/noticias', ~{::table})}"></div>
			<div th:replace="~{fragments/paginationBar :: paginationBar(${page})}"></div>
		</div>
	
		<table class="table u-table--v1 mb-0 table-striped table-hover">
			<thead>
				<tr class="g-col-border-top-0">
					<th>#</th>
					<th th:text="#{message.news.table.header.date}">Fecha</th>
					<th th:text="#{message.news.table.header.title}">Titulo</th>
				</tr>
			</thead>
			<tbody th:if="${noticias.getNumberOfElements()}">
				<tr th:each="noticia, itr : ${noticias}" th:href="@{/admin/noticias/edit/{id}(id=${noticia.id})}">
					<th scope="row">
						<fieldset class="g-pt-2">
							<div>
								<label>
									<input type="radio" name="optionsRadios" th:id="${'option' + noticia.id}" th:checked="${itr.index == 0}" th:value="${noticia.id}"
									/>
								</label>
							</div>
						</fieldset>
					</th>
					<td th:text="${#dates.format(noticia.fecha, 'dd/MM/yyyy HH:mm')}"></td>
					<td th:if="${#lists.size(noticia.traducciones)>0}" th:text="${noticia.traducciones[0].titulo}"></td>				
				</tr>
			</tbody>
			<tbody th:unless="${noticias.getNumberOfElements()}"> 
				<tr>
					<td colspan="3" class="g-bg-white text-center g-font-size-16"><p th:text="#{message.warning.not.exist}"></p></td>
				</tr>
			</tbody>
		</table>
 </body>
 </html>