<!DOCTYPE html>
<html lang="es" layout:decorate="~{layouts/main-login}">
<head>
	<head>
		<title th:text="#{message.annuncement.table.header}">Tablón anuncios</title>
	</head>
	<body>
	
		<div layout:fragment="content">	
			<div th:replace="~{fragments/admin/navbar :: navbar}"></div>		
			<div th:replace="~{fragments/adminTable :: adminTable('user', #{message.annuncement.table.header}, 'admin/anuncios', ~{::table})}"></div>
			<div th:replace="~{fragments/paginationBar :: paginationBar(${page})}"></div>
		</div>
	
		<table class="table u-table--v1 mb-0 table-striped table-hover">
			<thead>
				<tr class="g-col-border-top-0">
					<th>#</th>
					<th th:text="#{message.annuncement.table.header.dateFrom}">Fecha</th>
					<th th:text="#{message.annuncement.table.header.dateTo}">Fecha</th>
					<th th:text="#{message.annuncement.table.header.title}">Titulo</th>
					<th th:text="#{message.annuncement.table.header.description}">Descripcion</th>

				</tr>
			</thead>
			<tbody th:if="${anuncios.getNumberOfElements()}">
				<tr th:each="anuncio, itr : ${anuncios}" th:href="@{/admin/anuncios/edit/{id}(id=${anuncio.id})}">
					<th scope="row">
						<fieldset class="g-pt-2">
							<div>
								<label>
									<input type="radio" name="optionsRadios" th:id="${'option' + anuncio.id}" th:checked="${itr.index == 0}" th:value="${anuncio.id}"
									/>
								</label>
							</div>
						</fieldset>
					</th>
					<td th:text="${#dates.format(anuncio.fechaDe, 'dd/MM/yyyy')}"></td>
					<td th:text="${#dates.format(anuncio.fechaHasta, 'dd/MM/yyyy')}"></td>
					<td th:text="${anuncio.titulo}"></td>		
					<td th:switch="${anuncio.fichero}">
						<span th:case="null" >No</span>
						<span th:case="*" th:text="${anuncio.fichero.nombreOriginal}">Si</span>
					</td>		
				</tr>
			</tbody>
			<tbody th:unless="${anuncios.getNumberOfElements()}"> 
				<tr>
					<td colspan="5" class="g-bg-white text-center g-font-size-16"><p th:text="#{message.warning.not.exist}"></p></td>
				</tr>
			</tbody>			
		</table>
 </body>
 </html>