<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/main}">
<head>
	<title th:text="*{anuncio.id!=null}?  #{message.annuncement.form.edit} : #{message.annuncement.form.new}"></title>
	<script src="../static/vendor/ckeditor/ckeditor.js" th:src="@{/vendor/ckeditor/ckeditor.js}"></script>

</head>
<body>
		
	<div layout:fragment="content" class=".col-md">
		<section class="g-py-15">
			<div class="u-heading-v1-1 g-bg-main g-brd-transparent g-pa-30">
				<h2 class="h3 u-heading-v1__title" th:text="*{anuncio.id!=null}?  #{message.annuncement.form.edit} : #{message.annuncement.form.new}"></h2>
			</div>

		<form class="g-pa-30 g-mb-30" th:object="${anuncio}" th:action="@{/admin/anuncios/save}" method="post" enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}" />
			<div th:replace="~{fragments/inputs/textField :: input(#{message.annuncement.form.label.title}, 'titulo', 'text', true)}"></div>
			<div th:replace="~{fragments/inputs/dateField :: input (#{message.annuncement.form.label.dateFrom}, 'fechaDe', #{message.annuncement.form.error.dateFrom}, false, false)}"></div>
			<div th:replace="~{fragments/inputs/dateField :: input (#{message.annuncement.form.label.dateTo}, 'fechaHasta', #{message.annuncement.form.error.dateTo}, false, false)}"></div>
			<div th:replace="~{fragments/inputs/textareaField :: input (#{message.annuncement.form.label.new}, 'descripcion', #{message.annuncement.form.error.new}, 4, 48, true, false)}"></div> 	
			<div th:replace="~{fragments/inputs/fileField :: input (#{message.annuncement.form.label.file}, #{message.annuncement.form.button.file}, 'fileToUpload', #{message.annuncement.form.error.file}, false, false)}"></div>
			<div class="d-flex justify-content-between g-mt-30">
				<div>
					<a href="anuncios.html" th:href="@{/admin/anuncios}" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15" th:text="#{message.annuncement.form.button.back}">Atras</a>
				</div>
				<div>
					<button type="submit" class="btn btn-md u-btn-primary rounded-0" th:text="#{message.annuncement.form.button.save}">Guardar Anuncio</button>
				</div>
			</div>
			<script>
				CKEDITOR.replace( 'descripcion');
			</script>
	</form>
	</div>
</body>
</html>