<!DOCTYPE html>
<html lang="es" layout:decorator="/layouts/main">
<head>
	<head>
		<title th:text="#{message.documentos.table.header}">Documentos</title>
	</head>
	<body>
	
		<div layout:fragment="content">	
			<div th:replace="~{fragments/genericTable :: genericTable('user', #{message.documentos.table.header}, 'documentos', ~{::table})}"></div>
		</div>
	
		<table class="table u-table--v1 mb-0 table-striped table-hover">
			<thead>
				<tr class="g-col-border-top-0">
					<th>#</th>
					<th th:text="#{message.documentos.table.header.type}">tipo</th>
					<th th:text="#{message.documentos.table.header.description}">Descripción</th>
					<th th:text="#{message.documentos.table.header.state}">Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="documento, itr : ${documentos}" th:href="@{/documentos/edit/{id}(id=${documento.id})}">
					<th scope="row">
						<fieldset class="g-pt-2">
							<div>
								<label>
									<input type="radio" name="optionsRadios" th:id="${'option' + documento.id}" th:checked="${itr.index == 0}" th:value="${documento.id}"
									/>
								</label>
							</div>
						</fieldset>
					</th>	
					<td th:text="${documento.fichero!=null} ? ${documento.fichero.tipo}: ''"></td>
					<td th:switch="${documento.fichero}">
							<span th:case="null" th:text="${documento.descripcion}" ></span>
							<span th:case="*"><a th:text="${documento.descripcion}" th:href="'./download/'+${encrypt.encrypt(documento.fichero.id)}" target="_blank"><div class="download">&nbsp;</div></a></span>
					</td>					
					<td th:text="${#strings.capitalize(documento.estado)}"> </td>
				</tr>
			</tbody>
		</table>
 </body>
 </html>