<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title th:text="*{adjudicacion!=null}? 'Editar Documentaci&oacute;n' : 'Nueva Documentaci&oacute;n'"></title>
</head>
<body>
		
	<div layout:fragment="content" class=".col-md">

		<form class="form-horizontal" th:object="${documentacion}" th:action="@{/documentos/save}" method="post" enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}" />
			<div th:replace="fragments/textAreaField :: input (label='Descripci&oacute;n', name=descripcion, requerido=true)">&nbsp;</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('estado')}? 'has-error'">
		    	<label class="col-sm-2 control-label">Estado: </label>
		    	<div class="col-md-10"> 
		    		<!-- loop over available  authors -->
					<select class="form-control" th:field="*{estado}">
						<option value="">Seleccionar estado </option>
						<option th:each="es,iter : ${estados}" th:value="${es}" th:text="${#strings.capitalize(es)}">Estado</option>
					</select> 
				   <span th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}" th:class="help-block">Errores estado</span>
		    	</div>
			</div>  	
			<div th:replace="fragments/archiveField :: input (label='Fichero de resultado', boton='Fichero', name=fileToUpload)">&nbsp;</div>
		  	<br/><br/>	  			  
			<button type="submit" class="btn btn-primary pull-left">Guardar Adjudicacion</button>
	</form>
	<br/><br/>	
	</div>
</body>
</html>