<!DOCTYPE html>
<html lang="es" layout:decorate="~{layouts/main-login}">
<head>
	<title th:text="#{message.normative.table.header}"></title>
</head>

<body>

	<div layout:fragment="content">
		<div th:replace="~{fragments/admin/navbar :: navbar}"></div>	
		<div th:replace="~{fragments/adminTable :: adminTable('user', #{message.normative.table.header}, 'admin/normativa', ~{::table})}"></div>
		<div th:replace="~{fragments/paginationBar :: paginationBar(${page})}"></div>
	</div>

	<table class="table u-table--v1 mb-0 table-striped table-hover">
		<thead>
			<tr class="g-col-border-top-0">
				<th>#</th>
				<th th:text="#{message.normative.table.header.rule}">Norma</th>
				<th th:text="#{message.normative.table.header.article}">Articulo</th>
				<th th:text="#{message.normative.table.header.text}">Texto</th>
			</tr>
		</thead>
			<tbody th:if="${normativas.getNumberOfElements()}">
				<tr th:each="normativa, itr : ${normativas}" th:href="@{/admin/normativa/edit/{id}(id=${normativa.id})}">
					<th scope="row">
						<fieldset class="g-pt-2">
							<div>
								<label>
									<input type="radio" name="optionsRadios" th:id="${'option' + normativa.id}" th:checked="${itr.index == 0}" th:value="${normativa.id}"
									/>
								</label>
							</div>
						</fieldset>
					</th>
					<td th:switch="${normativa.url}">
							<span th:case="null" th:text="${normativa.norma}" ></span>
							<span th:case="*"><a th:text="${normativa.norma}" th:href="${normativa.url}" target="_blank"><div class="download">&nbsp;</div></a></span>
						</td>	
					<td th:text="${normativa.articulo}"></td>
					<td th:text="${normativa.texto}"> </td>							
				</tr>
			</tbody>
			<tbody th:unless="${normativas.getNumberOfElements()}"> 
				<tr>
					<td colspan="4" class="g-bg-white text-center g-font-size-16"><p th:text="#{message.warning.not.exist}"></p></td>
				</tr>
			</tbody>			
		</table> 	
 </body>
 </html>