	<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/main">

<head>
	<title th:text="*{licitacion!=null}?  #{message.licitaciones.form.edit} : #{message.licitaciones.form.new}"></title>
</head>

<body>

	<div layout:fragment="content">

		<section class="g-py-15">
			<div class="u-heading-v1-1 g-bg-main g-brd-transparent g-pa-30">
				<h2 class="h3 u-heading-v1__title" th:text="*{licitacion!=null}? #{message.licitaciones.form.edit} : #{message.licitaciones.form.new}"></h2>
			</div>

			<form class="g-pa-30 g-mb-30" th:object="${licitacion}" th:action="@{/licitaciones/save}" method="post" enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}" />

				<div th:replace="~{fragments/inputs/dateField :: input(#{message.licitaciones.form.label.publishdate}, 'fechaPub', #{message.licitaciones.form.error.publishdate}, true, false)}"></div>
				<div th:replace="~{/fragments/inputs/textareaField :: input(#{message.licitaciones.form.label.description}, 'descripcion', #{message.licitaciones.form.error.description}, 4, 50, true, false)}"></div>
				<div th:replace="~{/fragments/inputs/numberField :: input(#{message.licitaciones.form.label.budget}, 'presupuesto', 0.01, #{message.licitaciones.form.error.budget}, true, false)}"></div>
				<div th:replace="~{/fragments/inputs/dateField :: input(#{message.licitaciones.form.label.enddate}, 'finPlazo', #{message.licitaciones.form.error.enddate}, true, false)}"></div>
				<div th:replace="~{/fragments/inputs/selectField :: input(#{message.licitaciones.form.label.means}, 'medio', ${medios}, #{message.licitaciones.form.voidselection.means}, #{message.licitaciones.form.error.means}, false, false)}"></div>
				<div th:replace="~{/fragments/inputs/fileField :: input(#{message.licitaciones.form.label.file}, #{message.licitaciones.form.button.file}, 'fileToUpload', #{message.licitaciones.form.error.file}, false, false)}"></div>

				<div class="d-flex justify-content-between g-mt-30">
					<div>
						<a href="licitaciones.html" th:href="@{/licitaciones}" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15" th:text="#{message.licitaciones.form.button.back}">Atras</a>
					</div>
					<div>
						<button type="submit" class="btn btn-md u-btn-primary rounded-0" th:text="#{message.licitaciones.form.button.save}">Guardar Licitaci&oacute;n</button>
					</div>
				</div>
			</form>
		</section>
	</div>
</body>

</html>