<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title th:text="*{licitacion!=null}? 'Editar Licitacion' : 'Nueva Licitaci&oacute;n'"></title>
</head>
<body>
		
	<div layout:fragment="content" class=".col-md">

		<form class="form-horizontal" th:object="${licitacion}" th:action="@{/licitaciones/save}" method="post" enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}" />			

			<div th:replace="fragments/dateField :: input (label=Fecha, name=fechaPub, desactivado=false, requerido=true)">&nbsp;</div>
			<div th:replace="fragments/textAreaField :: input (label='Descripci&oacute;n', name=descripcion, requerido=true)">&nbsp;</div>
			<div th:replace="fragments/numberField :: input (label='Presupuesto', name=presupuesto,requerido=true, step='0.01')">&nbsp;</div>
			<div th:replace="fragments/dateField :: input (label='Fecha Publicaci&oacute;n', name=finPlazo, desactivado=false, requerido=true)">&nbsp;</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('medio')}? 'has-error'">
		    	<label class="col-sm-2 control-label">Medio: </label>
		    	<div class="col-md-10"> 
		    		<!-- loop over available  authors -->
					<select class="form-control" th:field="*{medio}">
						<option value="">Seleccionar medio </option>
						<option th:each="m,iter : ${medios}" th:value="${m}" th:text="${m.text}">Medio</option>
					</select> 
				   <span th:if="${#fields.hasErrors('medio')}" th:errors="*{medio}" th:class="help-block">Errores medio</span>
		    	</div>
			</div>
			<div th:replace="fragments/archiveField :: input (label='Fichero',boton='Fichero', name=fileToUpload)">&nbsp;</div>		  	
		  	<br/><br/>		  			  
			<button type="submit" class="btn btn-primary pull-left">Guardar Licitaci&oacute;n</button>
	</form>
	
	<br/><br/>	
	</div>
</body>
</html>