<!DOCTYPE html>
<html lang="es" layout:decorate="~{layouts/main}">

<head>
    <title>Fecha y Hora Oficial</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-lg-3 g-pr-40--lg g-mb-50 g-mb-0--lg">
                    <div th:replace="~{fragments/sideMenuSede :: menu}"></div>
                </div>
                <!-- End Sidebar -->

                <div class="col-lg-9">
                    <div>
                        <h4>Disposiciones que regulan la fecha y hora oficial de las sedes electrónicas</h4>
                        <ul>
                            <li>
                                <strong>Ley 11/2007, de 22 de junio, de acceso electrónico de los ciudadanos a los servicios públicos.</strong>
                                <span> En su art. 26.1 señala que "los registros electrónicos se regirán a efectos de cómputo de
                                    los plazos imputables tanto a los interesados como a las Administraciones Públicas por
                                    la fecha y hora oficial de la sede electrónica de acceso, que deberá contar con las medidas
                                    de seguridad necesarias para garantizar su integridad y figurar visible".</span>
                            </li>
                            <li>
                                <strong>Real Decreto 1671/2009, de 6 de noviembre, por el que se desarrolla parcialmente dicha Ley</strong>
                                <span>, establece en el artículo 6.2 j) que las sedes electrónicas indicarán la fecha y hora oficial
                                    a los efectos previstos en el artículo 26.1 de la Ley 11/2007.</span>
                            </li>
                            <li>
                                <strong>Real Decreto 4/2010, de 8 de enero, por el que se regula el Esquema Nacional de Interoperabilidad
                                    en el ámbito de la Administración Electrónica</strong>
                                <span>, señala en el artículo 15.2 que la sincronización de la fecha y la hora se realizará con
                                    el Real Instituto y Observatorio de la Armada, de conformidad con lo previsto sobre la
                                    hora legal en el Real Decreto 1308/1992, de 23 de octubre.</span>
                            </li>
                        </ul>
                        <p>En cumplimento de tales disposiciones, la fecha y hora oficiales de la Sede Electrónica del Ayuntamiento
                            de Ibi se encuentran sincronizadas automáticamente con el reloj del Real Instituto y Observatorio
                            de la Armada. Asimismo, se encontrarán permanentemente visibles en la ficha de cada procedimiento
                            en fase de tramitación online.</p>
                    </div>

                    <div>
                        <h4>Fecha y hora oficial de esta Sede Electrónica</h4>
                        <p>La fecha y hora que se muestra en la parte superior de la pagina son la fecha y hora oficiales del
                            Registro de la Sede Electrónica del Ayuntamiento de Ibi, que es la que se estampa en todas
                            las entradas y salidas de dicho registro electrónico a los efectos de presentaciones, notificaciones
                            y cómputo de plazos.</p>
                        <p>(AVISO: La hora que se muestra es la que corresponde al momento de cargar la página y puede no corresponder
                            a la hora exacta, debido al desfase provocado por los medios telemáticos utilizados hasta su
                            recepción, por lo que tiene carácter meramente informativo y en ningún caso de certificación
                            horaria).
                        </p>
                    </div>

                    <div class="text-center">
                        <h4>
                            <span>Hora oficial:</span>
                            <strong id="horaOficial" th:text="${fecha} + ',  ' + ${hora}"></strong>
                        </h4>
                        <a th:href="@{/fecha-y-hora-oficial}" class="btn btn-md u-btn-primary rounded-0 g-color-black" >Actualizar</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>