<!DOCTYPE html>
<html lang="es" layout:decorator="layouts/main">

<head>
    <title>Firma electrónica y Certificados admitidos</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-lg-3 g-pr-40--lg g-mb-50 g-mb-0--lg">
                    <div th:replace="~{fragments/sideMenuSede :: menu}"></div>
                </div>
                <!-- End Sidebar -->

                <div class="col-lg-9">
                    <div th:replace="~{fragments/pageHeader :: pageHeader(#{message.firma.certificados.admitidos.page.header})}"></div>

                    <div>
                        <p>
                            <span th:text="#{message.firma.certificados.admitidos.p.one.span.one}">El </span>
                            <strong th:text="#{message.firma.certificados.admitidos.p.one.strong}">Ayuntamiento de Murcia</strong>
                            <span th:text="#{message.firma.certificados.admitidos.p.one.span.two}"> usa los certificados electr&oacute;nicos para la identificaci&oacute;n y firma electr&oacute;nicas
                                en aquellos supuestos en los que la normativa vigente, bien lo permite o bien lo exige.</span>
                        </p>
                        <p th:text="#{message.firma.certificados.admitidos.p.two}">
                            Actualmente se est&aacute; trabajando en la implantaci&oacute;n gradual de otros mecanismos alternativos y actualmente admitidos
                            en el &aacute;mbito de las Administraciones P&uacute;blicas, tales como autentificaci&oacute;n
                            de usuario certificada, Cl@ve y Cl@ve PIN, entre otros.
                        </p>
                    </div>

                    <div>
                        <h4 th:text="#{message.firma.certificados.admitidos.section.one.header}">Certificados electr&oacute;nicos</h4>
                        <p>
                            <span th:text="#{message.firma.certificados.admitidos.section.one.p.one.span.one}">Un </span>
                                <strong th:text="#{message.firma.certificados.admitidos.section.one.p.one.strong}">certificado electr&oacute;nico</strong>
                                <span th:text="#{message.firma.certificados.admitidos.section.one.p.one.span.two}"> (o certificado digital) es un fichero inform&aacute;tico generado por una entidad de servicios
                                    de certificaci&oacute;n que asocia unos datos de identidad a una persona f&iacute;sica,
                                    organismo o empresa confirmando de esta manera su identidad digital en Internet.</span>
                        </p>
                        <p>
                            <span th:text="#{message.firma.certificados.admitidos.section.one.p.two.span.one}">El </span>
                            <strong th:text="#{message.firma.certificados.admitidos.section.one.p.two.strong.one}">certificado electr&oacute;nico</strong>
                            <span th:text="#{message.firma.certificados.admitidos.section.one.p.two.span.two}"> es v&aacute;lido principalmente para autenticar a un usuario o sitio web en internet, por lo
                                que es necesaria la colaboraci&oacute;n de un tercero que sea de confianza para cualquiera
                                de las partes, al que se conoce como </span>
                            <strong th:text="#{message.firma.certificados.admitidos.section.one.p.two.strong.two}">Autoridad Certificadora</strong>
                            <span th:text="#{message.firma.certificados.admitidos.section.one.p.two.span.three}">, que participa en la comunicaci&oacute;n. Dicha Autoridad Certificadora puede ser un organismo
                                p&uacute;blico o una empresa reconocida en el &aacute;mbito de Internet.</span>
                        </p>
                        <p>
                            <span th:text="#{message.firma.certificados.admitidos.section.one.p.three.span.one}">El </span>
                            <strong th:text="#{message.firma.certificados.admitidos.section.one.p.three.strong}">certificado electr&oacute;nico</strong>
                            <span th:text="#{message.firma.certificados.admitidos.section.one.p.three.span.two}"> realiza tres funciones:</span>
                        </p>
                        <ul>
                            <li>
                                <strong th:text="#{message.firma.certificados.admitidos.section.one.list.one.li.one.strong}">Autenticar al poseedor</strong>
                                <span th:text="#{message.firma.certificados.admitidos.section.one.list.one.li.one.span}">, a fin de acreditar -en el caso de la Sede Electr&oacute;nica- la identidad del ciudadano
                                    que desea realizar una tramitaci&oacute;n online
                                </span>
                            </li>
                            <li>
                                <strong th:text="#{message.firma.certificados.admitidos.section.one.list.one.li.two.strong}">Firmar digitalmente</strong>
                                <span th:text="#{message.firma.certificados.admitidos.section.one.list.one.li.two.span}"> los datos que se env&iacute;an de tal forma que se pueda acreditar y garantizar su integridad
                                    y procedencia
                                </span>
                            </li>
                            <li>
                                <strong th:text="#{message.firma.certificados.admitidos.section.one.list.one.li.three.strong}">Cifrar las comunicaciones</strong>
                                <span th:text="#{message.firma.certificados.admitidos.section.one.list.one.li.three.span}">, entre el ciudadano y otros terceros -personas o entidades- en este caso el Ayuntamiento
                                    de Murcia</span>
                            </li>
                        </ul>
                        <p>
                            <span th:text="#{message.firma.certificados.admitidos.section.one.p.four.span.one}">Actualmente, el </span>
                            <strong th:text="#{message.firma.certificados.admitidos.section.one.p.four.strong}">Ayuntamiento de Murcia</strong>
                            <span th:text="#{message.firma.certificados.admitidos.section.one.p.four.span.two}"> admite certificados electr&oacute;nicos de los siguientes proveedores de servicios de certificaci&oacute;n:</span>
                        </p>
                        <ul>
                            <li>
                                <a href="https://www.dnielectronico.es/PortalDNIe/" th:text="#{message.firma.certificados.admitidos.section.one.list.two.li.one.link}">DNI electr&oacute;nico</a>
                                <span th:text="#{message.firma.certificados.admitidos.section.one.list.two.li.one.span}"> (Direcci&oacute;n General de Polic&iacute;a - Ministerio del Interior)</span>
                            </li>
                            <li>
                                <a href="https://www.accv.es/" th:text="#{message.firma.certificados.admitidos.section.one.list.two.li.two.link}">ACCV (Agencia de Tecnolog&iacute;a y Certificaci&oacute;n Electr&oacute;nica de la Generalitat
                                    Valenciana)
                                </a>
                            </li>
                            <li>
                                <span th:text="#{message.firma.certificados.admitidos.section.one.list.two.li.three.span.one}">En general, todos aquellos certificados reconocidos en la plataforma </span>
                                <strong th:text="#{message.firma.certificados.admitidos.section.one.list.two.li.three.strong}">@Firma</strong>
                                <span th:text="#{message.firma.certificados.admitidos.section.one.list.two.li.three.span.two}"> del Ministerio de Hacienda y Administraciones P&uacute;blicas</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>