<!DOCTYPE html>
<html lang="es" layout:decorator="/layouts/main">

<head>
    <title>Normativa sobre la Sede</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-lg-3 g-pr-40--lg g-mb-50 g-mb-0--lg">
                    <div th:replace="~{fragments/sideMenuSede :: menu}"></div>
                </div>
                <!-- End Sidebar -->

                <div class="col-lg-9">
                    <div th:replace="~{fragments/pageHeader :: pageHeader(#{message.normativa.sede.page.header})}"></div>

                    <!-- Table Striped Rows -->
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th th:text="#{message.normativa.sede.table.header.one}">Norma</th>
                                    <th th:text="#{message.normativa.sede.table.header.two}">Art&iacute;culo</th>
                                    <th th:text="#{message.normativa.sede.table.header.three}">Texto</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        <a href="">Ley 39/2015</a>
                                    </td>
                                    <td>Art. 5. Representación</td>
                                    <td>
                                        4. La representación podrá acreditarse mediante cualquier medio válido en Derecho que deje constancia fidedigna de su existencia.
                                        A estos efectos, se entenderá acreditada la representación realizada mediante apoderamiento
                                        apud acta efectuado por comparecencia personal o comparecencia electrónica en la
                                        correspondiente sede electrónica, o a través de la acreditación de su inscripción
                                        en el registro electrónico de apoderamientos de la Administración Pública competente.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="">Ley 39/2015</a>
                                    </td>
                                    <td>Art. 6. Registros electrónicos de apoderamientos</td>
                                    <td>
                                        5. El apoderamiento «apud acta» se otorgará mediante comparecencia electrónica en la correspondiente sede electrónica haciendo
                                        uso de los sistemas de firma electrónica previstos en esta Ley, o bien mediante comparecencia
                                        personal en las oficinas de asistencia en materia de registros.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="">Ley 39/2015</a>
                                    </td>
                                    <td>Art. 16. Registros</td>
                                    <td>
                                        En la sede electrónica de acceso a cada registro figurará la relación actualizada de trámites que pueden iniciarse en el
                                        mismo.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="">Ley 39/2015</a>
                                    </td>
                                    <td>Art. 16. Registros</td>
                                    <td>
                                        Las disposiciones de creación de los registros electrónicos se publicarán en el diario oficial correspondiente y su texto
                                        íntegro deberá estar disponible para consulta en la sede electrónica de acceso al
                                        registro. En todo caso, las disposiciones de creación de registros electrónicos especificarán
                                        el órgano o unidad responsable de su gestión, así como la fecha y hora oficial y
                                        los días declarados como inhábiles.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End Table Striped Rows -->
                </div>
            </div>
        </section>
    </div>
</body>

</html>