<!DOCTYPE html>
<html lang="es" layout:decorator="layouts/main">

<head>
    <title>Paradas programadas</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-lg-3 g-pr-40--lg g-mb-50 g-mb-0--lg">
                    <div th:replace="~{fragments/sideMenuSede :: menu}"></div>
                </div>
                <!-- End Sidebar -->

                <div class="col-lg-9">
                    <div th:replace="~{fragments/pageHeader :: pageHeader(#{message.paradas.programadas.page.header})}"></div>

                    <div th:each="parada: ${paradas}" th:if="${paradas.size()}">
                            <p th:text="${parada.descripcion}"></p>
                            <p th:text="${#dates.format(parada.fecha, 'dd/MM/yyyy')}">
                                    
                            </p>
                    </div>
                    <div th:unless="${paradas.size()}">
                        <p>
                            <span>No existen paradas programadas para el servicio que presta la </span>
                            <strong>Sede Electrónica.</strong>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>

</html>