<!DOCTYPE html>
<html lang="es" layout:decorator="layouts/main">

<head>
    <title>Normativa sobre la Sede</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-lg-3 g-pr-40--lg g-mb-50 g-mb-0--lg">
                    <div th:replace="~{fragments/sideMenuSede :: menu}"></div>
                </div>
                <!-- End Sidebar -->

                <div class="col-lg-9">
                    <div th:replace="~{fragments/pageHeader :: pageHeader(#{message.normativa.sede.page.header})}"></div>

                    <!-- Table Striped Rows -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead >
                                <tr class="g-col-border-top-0">
                                    <th th:text="#{message.normative.table.header.rule}">Norma</th>
                                    <th th:text="#{message.normative.table.header.article}">Articulo</th>
                                    <th th:text="#{message.normative.table.header.text}">Texto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="normativa, itr : ${normativas}" th:href="@{/normativa/edit/{id}(id=${normativa.id})}">
                                    <td th:switch="${normativa.url}">
                                        <span th:case="null" th:text="${normativa.norma}" ></span>
                                        <span th:case="*"><a th:text="${normativa.norma}" th:href="${normativa.url}" target="_blank"><div class="download">&nbsp;</div></a></span>
                                    </td>	
                                    <td th:text="${normativa.articulo}"></td>
                                    <td th:text="${normativa.texto}"> </td>							
                                </tr>
                            </tbody>
                        </table> 	
                    </div>
                    <!-- End Table Striped Rows -->
                </div>
            </div>
        </section>
    </div>
</body>

</html>