<!DOCTYPE html>
<html lang="es" layout:decorator="/layouts/main">
<head>
	<title>Adjudicaci&oacute;n</title>
</head>
<body>

<div layout:fragment="content">
		
		<div th:if="${message}" class="alert alert-success" role="alert">
			<p th:text="${message}">success message</p>
		</div>
		
	    <a th:href="@{/adjudicaciones/create}">Nueva Adjudicaci&oacute;n</a>
		



		<div class="inner-addon left-addon">
    		<i class="glyphicon glyphicon-search"></i>
    		<input class="form-control" type="text" id="searchInput" onkeyup="searchTable()" placeholder="Buscar..." title="Type in chars to search" />
		</div>		
		<table id="listTable" class="sortable table table-striped table-hover ">
		<thead>
			<tr>
				<th>Tipo</th>
				<th>Denominaci&oacute;n</th>
				<th>Apertura plicas</th>
				<th>Resultado</th>				
				<th>Tama&ntilde;o</th>
				<th>F. formalizaci&oacute;n contrato</th>				
				<th>Adjudicaci&oacute;n definitiva</th>
				<th class="sorttable_nosort">Editar</th>
				<th class="sorttable_nosort">Borrar</th>
			</tr>
		</thead>
			<tbody>
				<tr th:each="adjudicacion : ${adjudicaciones}" th:href="@{/adjudicaciones/edit/{id}(id=${adjudicacion.id})}">
					<td th:text="${adjudicacion.resultado!=null} ? ${adjudicacion.resultado.tipo}: ''"></td>
					<td th:text="${adjudicacion.denominacion}"> </td>					
					<td th:utext="${adjudicacion.fecha!=null} ? ${#dates.format(adjudicacion.fecha, 'dd/MM/yyyy')}+ '&lt;br/&gt;' +
					(${adjudicacion.hora!=null} ? ${#dates.format(adjudicacion.hora,'hh:mm')}:'') + '&lt;br/&gt;' +${adjudicacion.plica} : ''"></td>
					<td th:text="${adjudicacion.resultado!=null} ? 'Iconito &and; Enlace': ''"></td>
					<td th:text="${adjudicacion.resultado!=null} ? 
					${#numbers.formatDecimal((adjudicacion.resultado.tamanyo/1024)/1024, 1, 'DEFAULT', 2, 'DEFAULT')}
					+' MB': ''"></td>
					<td th:utext="${adjudicacion.fechaFormalizacion!=null} ? ${#dates.format(adjudicacion.fechaFormalizacion, 'dd/MM/yyyy')} : ''"></td>
					<td th:utext="((${adjudicacion.presupuesto!=null} ? 
					${adjudicacion.presupuesto}+' &euro; &lt;br/&gt;': '' ) +
					(${adjudicacion.fechaAdjudicacion!=null} ? 
					${#dates.format(adjudicacion.fechaAdjudicacion, 'dd/MM/yyyy')} : '' )
					+ '&lt;br/&gt;' +${adjudicacion.empresaAdjudicacion})"></td>
					<td><a href="#" th:href="@{/adjudicaciones/edit/} + ${adjudicacion.id}">Editar</a></td>
					<td><a href="#" th:href="@{/adjudicaciones/delete/} + ${adjudicacion.id}">Borrar</a></td>
				</tr>
			</tbody>
		</table>

		<br/><br/>
		
 	</div>
 	
 </body>
 </html>