<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title th:text="*{adjudicacion!=null}? 'Editar Adjudicacion' : 'Nueva Adjudicacion'"></title>
</head>
<body>
		
	<div layout:fragment="content" class=".col-md">

		<form class="form-horizontal" th:object="${adjudicacion}" th:action="@{/adjudicaciones/save}" method="post" enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}" />
			<div th:replace="fragments/textAreaField :: input (label='Denominaci&oacute;n', name=denominacion, requerido=true)">&nbsp;</div>
			<div th:replace="fragments/dateField :: input (label='Fecha apertura plicas', name=fecha, desactivado=false, requerido=false)">&nbsp;</div>
			<div th:replace="fragments/timeField :: input (label='Hora apertura plicas', name=hora, desactivado=false, requerido=false)">&nbsp;</div>
			<div th:replace="fragments/textAreaField :: input (label='Plica', name=plica, requerido=false)">&nbsp;</div>
			<div th:replace="fragments/textAreaField :: input (label='Adjudicaci&oacute;n', name=empresaAdjudicacion, requerido=false)">&nbsp;</div>
			<div th:replace="fragments/numberField :: input (label='Presupuesto adjudicaci&oacute;n', name=presupuesto,requerido=false, step='0.01')">&nbsp;</div>
			<div th:replace="fragments/dateField :: input (label='Fecha Adjudicaci&oacute;n', name=fechaAdjudicacion, desactivado=false, requerido=true)">&nbsp;</div>
			<div th:replace="fragments/dateField :: input (label='Fecha Formalizaci&oacute;n', name=fechaFormalizacion, desactivado=false, requerido=true)">&nbsp;</div>
			<div th:replace="fragments/archiveField :: input (label='Fichero de resultado', boton='Fichero', name=fileToUpload)">&nbsp;</div>  	
		  	<br/><br/>			  			  
			<button type="submit" class="btn btn-primary pull-left">Guardar Adjudicaci&oactue;n</button>
	</form>
	<br/><br/>	
	</div>
</body>
</html>