<!DOCTYPE html>
<html lang="es">

<body>
	<th:block th:fragment="navbar">
		<section class="g-pa-15 g-pt-0">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="input-group-btn pull-right">
						<button type="button" class="btn btn-md u-btn-primary g-color-black dropdown-toggle rounded-0" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="false">
							Gestionar datos
						</button>
						<div class="col-9 text-right">
							<form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
								<a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;" class="btn btn-md u-btn-primary g-color-black"><span class="icon-logout"></span> Logout</a>
							</form>
						</div>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" th:classappend="@{/} + 'admin/licitaciones' == ${#httpServletRequest.requestURI.toString()}? 'active'" href="licitaciones.html" th:href="@{/admin/licitaciones}" th:text="#{message.subheader.menu.link.three}">Licitaciones</a>
							<a class="dropdown-item" th:classappend="@{/} + 'admin/aperturas' == ${#httpServletRequest.requestURI.toString()}? 'active'" href="aperturas.html" th:href="@{/admin/aperturas}" th:text="#{message.subheader.menu.link.four}">Aperturas</a>
							<a class="dropdown-item" th:classappend="@{/} + 'admin/adjudicaciones' == ${#httpServletRequest.requestURI.toString()}? 'active'" href="adjudicaciones.html" th:href="@{/admin/adjudicaciones}" th:text="#{message.subheader.menu.link.five}">Adjudicaciones</a>
							<a class="dropdown-item" th:classappend="@{/} + 'admin/documentos' == ${#httpServletRequest.requestURI.toString()}? 'active'" href="documentos.html" th:href="@{/admin/documentos}" th:text="#{message.subheader.menu.link.six}">Documentos</a>
							<a class="dropdown-item" th:classappend="@{/} + 'admin/modelos' == ${#httpServletRequest.requestURI.toString()}? 'active'" href="modelos.html" th:href="@{/admin/modelos}" th:text="#{message.subheader.menu.link.seven}">Modelos</a>
							<a class="dropdown-item" th:classappend="@{/} + 'admin/avisos' == ${#httpServletRequest.requestURI.toString()}? 'active'" href="avisos.html" th:href="@{/admin/avisos}" th:text="#{message.subheader.menu.link.eight}">Avisos</a>
							 <a class="dropdown-item" th:classappend="@{/} + 'admin/noticias' == ${#httpServletRequest.requestURI.toString()}? 'active'" href="noticias.html" th:href="@{/admin/noticias}" th:text="#{message.subheader.menu.link.nine}">Noticias</a>
							 <a class="dropdown-item" th:classappend="@{/} + 'admin/paradas' == ${#httpServletRequest.requestURI.toString()}? 'active'" href="paradas.html" th:href="@{/admin/paradas}" th:text="#{message.subheader.menu.link.ten}">Paradas</a>
							 <a class="dropdown-item" th:classappend="@{/} + 'admin/anuncios' == ${#httpServletRequest.requestURI.toString()}? 'active'" href="anuncios.html" th:href="@{/admin/anuncios}" th:text="#{message.subheader.menu.link.eleven}">Tablon anuncios</a>
							 <a class="dropdown-item" th:classappend="@{/} + 'admin/normativa' == ${#httpServletRequest.requestURI.toString()}? 'active'" href="normativa.html" th:href="@{/admin/normativa}" th:text="#{message.subheader.menu.link.twelve}">Tablon anuncios</a>
							 
						</div>
					</div>
				</div>
				
			</div>
		</section>
	</th:block>
</body>

</html>