<!DOCTYPE html>
<html lang="es">

<body>
    <th:block th:fragment="diasinhabiles">

        <div th:replace="~{fragments/pageHeader :: pageHeader(#{message.conoce.inhabiles.page.header})}"></div>

        <div>
            <h4>D&iacute;as festivos</h4>
            <ul>
                <li>DIA, DESCRIPCION</li>
            </ul>
        </div>

        <div>
            <h4 th:text="#{message.conoce.inhabiles.section.two.header}">D&iacute;as inh&aacute;biles</h4>
            <ul>
                <li th:text="#{message.conoce.inhabiles.section.two.list.one}">Los domingos y los d&iacute;as declarados como fiestas de &aacute;mbito nacional no sustituibles, o sobre las que la totalidad
                    de las Comunidades Aut&oacute;nomas no hayan ejercido la facultad de sustituci&oacute;n</li>
                <li th:text="#{message.conoce.inhabiles.section.two.list.two}">Desde el 2 de octubre de 2016, los s&aacute;bados quedan excluidos del c&oacute;mputo de plazos, en virtud de la entrada
                    en vigor de la Ley 39/2015, de 1 de octubre, del Procedimiento Administrativo Com&uacute;n de las Administraciones
                    P&uacute;blicas, en aplicaci&oacute;n de su art&iacute;culo 30.2</li>
                <li th:text="#{message.conoce.inhabiles.section.two.list.four}">En el &aacute;mbito territorial de los municipios, los d&iacute;as que establezcan las respectivas Comunidades Aut&oacute;nomas
                    en sus correspondientes calendarios de d&iacute;as inh&aacute;biles a trav&eacute;s de decreto o resoluci&oacute;n</li>
            </ul>
        </div>

        <div>
            <h4 th:text="#{message.conoce.inhabiles.section.three.header}">Fundamento legal</h4>
            <ul>
                <li>
                    <strong th:text="#{message.conoce.inhabiles.section.three.list.one.strong}">Resoluci&oacute;n de 10 de septiembre de 2015</strong>
                    <span th:text="#{message.conoce.inhabiles.section.three.list.one.span}">, por la que el titular de la Direcci&oacute;n General de Relaciones Laborales y Econom&iacute;a Social, dependiente
                        de la Consejer&iacute;a de Desarrollo Econ&oacute;mico, Turismo y Empleo de la Comunidad Aut&oacute;noma de la Regi&oacute;n
                        de Ibi aprueba y publica las fiestas laborales para el año 2016 en el &aacute;mbito de la Comunidad Aut&oacute;noma
                        de la Regi&oacute;n de Ibi.</span>
                </li>
                <li>
                    <strong th:text="#{message.conoce.inhabiles.section.three.list.two.strong}">Resoluci&oacute;n de 11 de octubre de 2016</strong>
                    <span th:text="#{message.conoce.inhabiles.section.three.list.two.span}">, de la Direcci&oacute;n General de la Funci&oacute;n P&uacute;blica y Calidad de los Servicios, por la que se fija el calendario
                        de d&iacute;as inh&aacute;biles a efectos de c&oacute;mputos de plazos en el &aacute;mbito de la Administraci&oacute;n de la Comunidad
                        Aut&oacute;noma de la Regi&oacute;n de Ibi para el año 2016, a partir del d&iacute;a 2 octubre de 2016.</span>
                </li>
                <li>
                    <strong th:text="#{message.conoce.inhabiles.section.three.list.three.strong}">Resoluci&oacute;n de 3 de octubre de 2016</strong>
                    <span th:text="#{message.conoce.inhabiles.section.three.list.three.span}">, por la que el titular de la Direcci&oacute;n General de Relaciones Laborales y Econom&iacute;a Social resuelve publicar
                        las fiestas laborales en el &aacute;mbito de la Comunidad Aut&oacute;noma de la Regi&oacute;n de Ibi, para el año 2017.</span>
                </li>
            </ul>
        </div>
    </th:block>
</body>

</html>