<!DOCTYPE html>
<html lang="es">

<body>
    <th:block th:fragment="diasinhabiles">

        <div class="u-heading-v1-1 g-bg-main g-brd-transparent g-mb-20">
            <h2 class="h3 u-heading-v1__title">Calendario de días inhábiles</h2>
        </div>

        <div>
            <h4>Días festivos del Municipio de Murcia, en 2018</h4>
            <ul>
                <li>01 de Enero, Año Nuevo</li>
                <li>06 de Enero, Epifanía del Señor</li>
                <li>29 de Marzo, Jueves Santo</li>
                <li>30 de Marzo, Viernes Santo</li>
                <li>03 de Abril, Bando de la Huerta</li>
                <li>01 de Mayo, Fiesta del Trabajo</li>
                <li>09 de Junio, Día de la Región de Murcia</li>
            </ul>
        </div>

        <div>
            <h4>Días inhábiles</h4>
            <ul>
                <li>Los domingos y los días declarados como fiestas de ámbito nacional no sustituibles, o sobre las que la totalidad
                    de las Comunidades Autónomas no hayan ejercido la facultad de sustitución</li>
                <li>Desde el 2 de octubre de 2016, los sábados quedan excluidos del cómputo de plazos, en virtud de la entrada
                    en vigor de la Ley 39/2015, de 1 de octubre, del Procedimiento Administrativo Común de las Administraciones
                    Públicas, en aplicación de su artículo 30.2</li>
                <li>Los días determinados como festivos por las Comunidades Autónomas</li>
                <li>En el ámbito territorial de los municipios, los días que establezcan las respectivas Comunidades Autónomas
                    en sus correspondientes calendarios de días inhábiles a través de decreto o resolución</li>
            </ul>
        </div>

        <div>
            <h4>Fundamento legal</h4>
            <ul>
                <li>
                    <strong>Resolución de 10 de septiembre de 2015</strong>
                    <span>, por la que el titular de la Dirección General de Relaciones Laborales y Economía Social, dependiente
                        de la Consejería de Desarrollo Económico, Turismo y Empleo de la Comunidad Autónoma de la Región
                        de Murcia aprueba y publica las fiestas laborales para el año 2016 en el ámbito de la Comunidad Autónoma
                        de la Región de Murcia.</span>
                </li>
                <li>
                    <strong>Resolución de 11 de octubre de 2016</strong>
                    <span>, de la Dirección General de la Función Pública y Calidad de los Servicios, por la que se fija el calendario
                        de días inhábiles a efectos de cómputos de plazos en el ámbito de la Administración de la Comunidad
                        Autónoma de la Región de Murcia para el año 2016, a partir del día 2 octubre de 2016.</span>
                </li>
                <li>
                    <strong>Resolución de 3 de octubre de 2016</strong>
                    <span>, por la que el titular de la Dirección General de Relaciones Laborales y Economía Social resuelve publicar
                        las fiestas laborales en el ámbito de la Comunidad Autónoma de la Región de Murcia, para el año 2017.</span>
                </li>
            </ul>
        </div>
    </th:block>
</body>

</html>