<!DOCTYPE html>
<html lang="es">

<body>
    <th:block th:fragment="genericTable (iconHeader, labelHeader, table)">
        <!-- Basic Table (Spacing) -->
        <div class="card rounded-0 g-brd-transparent">
            <div class="card-header g-bg-primary g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
                <div class="row">
                    <div class="col-3 d-flex align-items-center">
                        <i th:class="${'fa g-mr-5 fa-' + iconHeader}"></i>
                        <span th:text="${labelHeader}"></span>
                    </div>
                </div>
            </div>
            <div class="card-block table-responsive g-pa-0">
                <table th:replace="${table}" />
            </div>
        </div>
    </th:block>
</body>

</html>