<html xmlns:th="http://www.thymeleaf.org">
<body>
  <form>
    <th:block th:fragment="input (label, name, requerido, step)" th:with="nombre=${name.substring(name.indexOf('.')+1)}">  
     <div th:id="${'padre-'+nombre}" th:with="valid=${!#fields.hasErrors(name)}" th:class="${'form-group form-group-custom' + (valid ? '' : ' has-error')}">
    	<label class="col-sm-2 control-label" th:text="${requerido} ? ${label}+ ' * :': ${label} +' :'">Label</label>
            <div class="col-md-10">
                <input type="number" th:step="${step}" class="form-control" th:field="*{__${name}__}" />
                <span th:if="${#fields.hasErrors(name)}" th:errors="*{__${name}__}" th:class="help-block">Errores Presupuesto</span>
            </div>
     </div> 
    </th:block>
  </form>
</body>
</html>
