<!DOCTYPE html>
<html lang="es">

<body>
    <th:block th:fragment="menu">
        <h2 class="h5 text-uppercase g-color-gray-dark-v1">
            <a href="">LA SEDE ELECTRÓNICA</a>
        </h2>
        <hr class="g-brd-gray-light-v4 g-my-15">
        <ul class="list-unstyled g-mb-40">
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5 g-parent" href="#!">Normativa sobre la Sede Electrónica</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" href="#!">Contenidos de la Sede</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" href="#!">Servicios de la Sede</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" href="#!">Registro electrónico</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" href="#!">Firma electrónica y Certificados admitidos</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" href="#!">Verificación de documentos</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" href="#!">Fecha y Hora Oficial</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" href="#!">Calendario de días inhábiles</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" href="#!">Sedes físicas del Ayuntamiento</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" href="#!">Paradas programadas</a>
            </li>
        </ul>
    </th:block>
</body>

</html>