<!DOCTYPE html>
<html lang="es">

<body>
    <th:block th:fragment="menu">
        <h2 class="h5 text-uppercase g-color-grey-dark-v1">
            <a href="">LA SEDE ELECTRÓNICA</a>
        </h2>
        <hr class="g-brd-gray-light-v4 g-my-15">
        <ul class="list-unstyled g-mb-40">
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5 g-parent" th:href="@{/normativa-sobre-la-sede}">Normativa sobre la Sede Electrónica</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" th:href="@{/contenidos-de-la-sede}">Contenidos de la Sede</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" th:href="@{/servicios-de-la-sede}">Servicios de la Sede</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" th:href="@{/registro-electronico}">Registro electrónico</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" th:href="@{/firma-electronica-y-certificados-admitidos}">Firma electrónica y Certificados admitidos</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" th:href="@{/verifirma}">Verificación de documentos</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" th:href="@{/fecha-y-hora-oficial}">Fecha y Hora Oficial</a>
            </li>
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" th:href="@{/calendario-dias-inhabiles}">Calendario de días inhábiles</a>
            </li>
<!--             <li class="my-3"> -->
<!--                 <a class="d-flex justify-content-between u-link-v5" th:href="@{/sedes-fisicas}">Sedes físicas del Ayuntamiento</a> -->
<!--             </li> -->
            <li class="my-3">
                <a class="d-flex justify-content-between u-link-v5" th:href="@{/paradas-programadas}">Paradas programadas</a>
            </li>
        </ul>
    </th:block>
</body>

</html>