<!DOCTYPE html>
<html lang="es">

<body>
    <th:block th:fragment="verifirma">
        <div th:replace="~{fragments/pageHeader :: pageHeader(#{message.verifirma.page.header})}"></div>
        <div class="g-mb-20">
            <p th:text="#{message.verifirma.page.one}"></p>
        </div>
        <div class="col-xs-12 col-sm-12 offset-md-4 col-md-4 col-lg-4 g-mb-20">
            
            <form class="g-brd-around g-brd-transparent g-pa-30 g-mb-30" th:object="${CSVValidation}" th:action="@{/verifirma/send}" method="post">
                <div class="g-mb-10">
                    <div class="input-group">
                        <input type="text"
                        th:field="*{__csv__}"  class="form-control rounded-0 form-control-md" placeholder="Introduzca el CSV..." th:placeholder="#{message.verifirma.csv.placeholder}">
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-md u-btn-primary g-color-black rounded-0" type="submit" th:text="#{message.verifirma.csv.button}">
                        Verificar
                    </button>
                	<br />
                	<br />                   
                    
                    <div th:if="${#fields.hasErrors('csv')}" class="alert alert-warning" role="alert">
	                    <span th:errors="*{__csv__}" th:class="help-block">Errores</span>
                	</div>
                	
                	<div th:if="${message}" class="alert alert-warning" role="alert">
                    	<p th:text="${message}">success message</p>
                	</div>
                    
                    <div th:if="${messageWarning}" class="alert alert-warning" role="alert">
                        <p th:text="${messageWarning}">success message</p>
                    </div>
            
                </div>
                
                <div class="g-mb-10">
                        <div class="g-recaptcha col-sm-12 text-center" th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
                            <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
            </form>
        </div>

        <div class="g-mb-20">
            <p>
                <span th:text="#{message.verifirma.explanation.p.one.span.one}">Los documentos electr&oacute;nicos generados por el </span>
                <strong th:text="#{message.verifirma.explanation.p.one.strong.one}">Ayuntamiento de Murcia</strong>
                <span th:text="#{message.verifirma.explanation.p.one.span.two}">en su Sede Electr&oacute;nica incluyen en sus p&aacute;ginas un c&oacute;digo que se denomina</span>
                <strong th:text="#{message.verifirma.explanation.p.one.strong.two}">C&oacute;digo Seguro de Verificaci&oacute;n</strong>
                <span th:text="#{message.verifirma.explanation.p.one.span.three}">(o CSV). Este c&oacute;digo es el que permite comprobar la autenticidad del documento impreso en papel por
                    un tercero interesado.
                </span>
            </p>
            <p th:text="#{message.verifirma.explanation.p.two}">
                Para verificar un documento con CSV deber&aacute; introducir su c&oacute;digo (o escanear el c&oacute;digo de barras) en
                la casilla siguiente y pulsar el bot&oacute;n "Verificar documento". El resultado ser&aacute; un documento
                electr&oacute;nico, fiel reflejo del documento a cotejar, que podr&aacute; usar para verificar la coincidencia
                de los datos que tiene el Ayuntamiento de Murcia con el documento en papel del que se dispone.
            </p>
            <h4 th:text="#{message.verifirma.explanation.header}">
                D&oacute;nde se encuentra el C&oacute;digo Seguro de Verificaci&oacute;n
            </h4>
            <p th:text="#{message.verifirma.explanation.p.three}">
                El c&oacute;digo CSV es el se encuentra impreso en la parte superior del margen izquierdo de los documentos electr&oacute;nicos
                generados por el Ayuntamiento de Murcia, justo debajo del c&oacute;digo de barras.
            </p>
            <div class="text-center">
                <img class="g-width-780 g-min-width-150" src="/sede/img/EjemploCSV.png" alt="" th:alt="#{message.verifirma.explanation.img.alt}"
                />
            </div>
        </div>
    </th:block>
</body>

</html>