<html>

<body>
    <th:block th:fragment="header">
        <!-- Header -->
        <header id="js-header" class="u-header u-header--static u-header--floating">
            <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3">
                <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
                    <div class="container g-pa-0">
                        <!-- Responsive Toggle Button -->
                        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button"
                            aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse"
                            data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->

                        <!-- Logo -->
                        <a href="index.html" th:href="@{/}" class="navbar-brand">
                            <img src="https://sede.murcia.es/murcia-theme/images/murcia-theme-logo-header.png" width="auto" height="95px" alt="Logo Sede"></img>
                        </a>
                        <!-- End Logo -->

                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row g-font-size-12" id="navBar">
                            <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                                <!-- Intro -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a class="nav-link g-py-7 g-px-0" href="tramites.html" th:href="@{/tramites}" th:text="#{message.header.menu.link.one}">Tramites</a>
                                </li>
                                <!-- End Intro -->

                                <!-- Intro -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a class="nav-link g-py-7 g-px-0" href="perfil-del-contratante.html" th:href="@{/perfil-del-contratante}" th:text="#{message.header.menu.link.two}">Perfil del contratante</a>
                                </li>
                                <!-- End Intro -->

                                <!-- Intro -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a class="nav-link g-py-7 g-px-0" href="licitaciones.html" th:href="@{/licitaciones}" th:text="#{message.header.menu.link.three}">Licitaciones</a>
                                </li>
                                <!-- End Intro -->

                                <!-- Intro -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a class="nav-link g-py-7 g-px-0" href="aperturas.html" th:href="@{/aperturas}" th:text="#{message.header.menu.link.four}">Aperturas</a>
                                </li>
                                <!-- End Intro -->

                                <!-- Intro -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a class="nav-link g-py-7 g-px-0" href="adjudicaciones.html" th:href="@{/adjudicaciones}" th:text="#{message.header.menu.link.five}">Adjudicaciones</a>
                                </li>
                                <!-- End Intro -->

                                <!-- Intro -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a class="nav-link g-py-7 g-px-0" href="documentos.html" th:href="@{/documentos}" th:text="#{message.header.menu.link.six}">Documentos</a>
                                </li>
                                <!-- End Intro -->

                                <!-- Intro -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a class="nav-link g-py-7 g-px-0" href="modelos.html" th:href="@{/modelos}" th:text="#{message.header.menu.link.seven}">Modelos</a>
                                </li>
                                <!-- End Intro -->

                                <!-- Intro -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a class="nav-link g-py-7 g-px-0" href="avisos.html" th:href="@{/avisos}" th:text="#{message.header.menu.link.eight}">Avisos</a>
                                </li>
                                <!-- End Intro -->
                            </ul>
                        </div>
                        <!-- End Navigation -->
                    </div>
                </nav>
            </div>
        </header>
        <!-- End Header -->
    </th:block>
</body>

</html>