.input-group-btn {
    margin-bottom: 0%; 
}

.download {
    background: url(../img/Descargar.gif);
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-size: auto;
}

a.downa:hover {
    text-decoration: none;
}

.g-recaptcha {
    display: block;
    float: none;
}