<!DOCTYPE html>
<html lang="es" layout:decorator="layouts/main">

<head>
    <title>Actualidad/Actividades</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div th:replace="~{fragments/pageHeader :: pageHeader(#{message.actualidad.actividades.page.header})}"></div>

            <div class="g-mb-20">
                <p>
                    <span th:text="#{message.actualidad.actividades.p.span.one}">En esta sección se regogen todas las noticias, eventos y actualidad relacionada con la </span>
                    <strong th:text="#{message.actualidad.actividades.p.strong}">Sede Electrónica del Ayuntamiento de Murcia</strong>
                    <span th:text="#{message.actualidad.actividades.p.span.two}">, tales como novedades, nuevas funcionalidades, avisos de paradas programadas de la Sede, etc.</span>
                </p>
            </div>

            <div th:if="${noticias}" th:each="noticia: ${noticias}" >
                <div class="g-mb-20">
                    <h4 class="g-brd-bottom g-brd-gray-light-v4">
                        <a th:href="'./actualidad/'+ ${noticia.id}" th:text="${noticia.titulo}">Titulo noticia</a>
                    </h4>
                    <div class="row">
                        <div class="col-sm-10">
                            <p class="g-mb-0" th:if="${#strings.indexOf(noticia.descripcion,'<!--more-->')>0}"
                            th:utext="${#strings.substring(noticia.descripcion,0,#strings.indexOf(noticia.descripcion,'<!--more-->')) }"/>Cuerpo noticia</p>
                            <p class="g-mb-0" th:unless="${#strings.indexOf(noticia.descripcion,'<!--more-->')>0}"
                                    th:utext="${noticia.descripcion}"/>Cuerpo noticia</p>
                            <p>
                                <a th:href="'./actualidad/'+ ${noticia.id}">Leer Más
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </p>
                            <p>
                                <small th:text="${#dates.format(noticia.fecha, 'dd/MM/yyyy HH:mm')}">25/09/2016 19:00</small>
                            </p>
                        </div>
                        <div class="col-sm-2">
                            <img class="g-width-100p" src="http://sede.murcia.es/documents/20181/0/Portada+Sede.gif/7edcc76b-67d5-4148-81ac-43a509beaf06?t=1469642903313"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div th:if="${noticiaDetalle}"> 
                    <div class="portlet-borderless-container" style=""> 
                            <div class="portlet-body"> <div> 
                                <div class="taglib-header "> 
                                    <span class="header-back-to"> 
                                        <a class="icon-circle-arrow-left previous-level" href="../actualidad"  title="Atrás"> 
                                            <span class="helper-hidden-accessible"> Atrás </span> 
                                        </a> 
                                    </span> 
                                    <h3 class="header-title"> 
                                        <span th:text="${noticiaDetalle.titulo}">Titulo noticia detalle</span> 
                                    </h3> 
                                </div> 
                                <div class="asset-full-content show-asset-title"> 
                                    <div class="asset-content"> 
                                        <div class="journal-content-article" th:utext="${noticiaDetalle.descripcion}"> 
                                        
                                        </div>
                                        </div> 
                                        <div class="asset-metada">  
                                            <span class="metadata-entry metadata-publish-date" th:text="${#dates.format(noticiaDetalle.fecha, 'dd/MM/yyyy HH:mm')}"> fecha </span> 
                                        </div> 
                                    </div> 
                                </div> 
                            </div> 
                        </div> 



            </div>
        </section>
    </div>

</body>

</html>