<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{/layouts/main}">
<head>
	<title th:text="*{noticia!=null}?  #{message.news.form.edit} : #{message.news.form.new}"></title>
	<script src="https://cdn.ckeditor.com/4.8.0/standard-all/ckeditor.js"></script>
</head>
<body>
		
	<div layout:fragment="content" class=".col-md">
		<section class="g-py-15">
			<div class="u-heading-v1-1 g-bg-main g-brd-transparent g-pa-30">
				<h2 class="h3 u-heading-v1__title" th:text="*{noticia!=null}?  #{message.news.form.edit} : #{message.news.form.new}"></h2>
			</div>

		<form class="g-pa-30 g-mb-30" th:object="${noticia}" th:action="@{/noticias/save}" method="post" >
			<input type="hidden" th:field="*{id}" />
			<div th:replace="~{fragments/inputs/textField :: input(#{message.news.form.label.title}, 'titulo', 'text', true)}"></div>
			<div th:replace="~{fragments/inputs/textareaField :: input (#{message.news.form.label.new}, 'descripcion', #{message.news.form.error.new}, 4, 50, true, false)}"></div>

			<div class="d-flex justify-content-between g-mt-30">
				<div>
					<a href="noticias.html" th:href="@{/noticias}" class="btn btn-md u-btn-outline-primary g-mr-10 g-mb-15" th:text="#{message.news.form.button.back}">Atras</a>
				</div>
				<div>
					<button type="submit" class="btn btn-md u-btn-primary rounded-0" th:text="#{message.news.form.button.save}">Guardar Noticia</button>
				</div>
			</div>
			<script>
			CKEDITOR.replace( 'descripcion');
			CKEDITOR.editorConfig = function( config ) {
			config.toolbarGroups = [
				{ name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
				{ name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
				{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
				{ name: 'forms', groups: [ 'forms' ] },
				'/',
				{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
				{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
				{ name: 'links', groups: [ 'links' ] },
				{ name: 'insert', groups: [ 'insert' ] },
				'/',
				{ name: 'styles', groups: [ 'styles' ] },
				{ name: 'colors', groups: [ 'colors' ] },
				{ name: 'tools', groups: [ 'tools' ] },
				{ name: 'others', groups: [ 'others' ] },
				{ name: 'about', groups: [ 'about' ] }
			];

			config.removeButtons = 'Save,Source,Scayt,Form,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,CopyFormatting,RemoveFormat,Flash,About';
			};
			</script>
	</form>
	</div>
</body>
</html>