<!DOCTYPE html>
<html lang="es" layout:decorator="layouts/main">

<head>
    <title>Accesibilidad</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div th:replace="~{fragments/pageHeader :: pageHeader(#{message.accesibilidad.page.header})}"></div>

            <div class="g-mb-20">
                <p th:text="#{message.accesibilidad.p.one}">
                    Es nuestro objetivo poner toda la informaci&oacute;n de esta Sede a disposici&oacute;n del mayor n&uacute;mero de ciudadanos,
                    evitando la exclusi&oacute;n y promoviendo la accesibilidad para conseguir la universalizaci&oacute;n
                    de la informaci&oacute;n. El objetivo es que el mayor n&uacute;mero posible de personas puedan navegar
                    por sus p&aacute;ginas sin encontrar dificultades de acceso.
                </p>
                <p th:text="#{message.accesibilidad.p.two}">
                    El tamaño de las fuentes utilizadas es adaptable y el visitante puede cambiarlo conforme a sus necesidades. La mayor&iacute;a
                    de los navegadores dispone de una opci&oacute;n de men&uacute; (Ver - Tamaño de texto) que le permitir&aacute;
                    agrandar y reducir las fuentes, y puede conseguir el mismo efecto girando la rueda del rat&oacute;n mientras
                    pulsa la tecla Control.
                </p>
                <p>
                    <span th:text="#{message.accesibilidad.p.three.span.one}">
                        Esta Sede Electr&oacute;nica ha sido desarrollada siguiendo la norma UNE 139803:2012 y se ajusta a las pautas definidas por
                        el grupo de trabajo permanente
                    </span>
                    <a href="http://www.w3.org/WAI/" th:text="#{message.accesibilidad.p.three.link.one}">Web Accessibility Initiative (WAI) </a>
                    <span th:text="#{message.accesibilidad.p.three.span.two}">del Consorcio para la World Wide Web (W3C) para su </span>
                    <a href="http://www.w3.org/TR/WCAG20/" th:text="#{message.accesibilidad.p.three.link.two}">nivel AA.</a>
                    <img src="https://sede-desa.murcia.es/documents/20181/0/w3c_wai_aa.gif/fc570fec-bd56-4a0b-9069-05aa530ab252?t=1501150216422"
                        alt="">
                </p>
                <p th:text="#{message.accesibilidad.p.four}">Nuestro trabajo y nuestro esfuerzo van encaminados a seguir mejorando de forma continua la accesibilidad
                    de esta Sede. Por ello esperamos su colaboraci&oacute;n y les invitamos a ayudarnos a continuar mejorando
                    este sitio web mediante el env&iacute;o de sus comentarios y sugerencias en la secci&oacute;n de "Contacto"
                    que figura al pie de p&aacute;gina de esta Sede.</p>
                <p th:text="#{message.accesibilidad.p.five}">&uacute;ltima revisi&oacute;n: Agosto de 2017.</p>
            </div>
        </section>
    </div>
</body>

</html>