<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
    	<a href="tramites.html" 
   		th:href="@{/tramites}">Tramites</a>
   		<a href="perfil-del-contratante.html" 
   		th:href="@{/perfil-del-contratante}">Perfil del contratante</a>
   		<a href="login.html"
   		th:href="@{https://demo.gexflow.com:8443/midu/LoginCertificado(idEntidad=0, 
   		urlRetornoCorrecto=${'http://localhost:8081/loginOK'},
   		urlRetornoError=${'http://localhost:8081/loginKO'}
   		)}">
   		Login</a>
 	</div>
</body>
</html>