<!DOCTYPE html>
<html lang="es" layout:decorate="~{/layouts/main}">

<head>
	<title th:text="#{message.title.sede.init}+' - '+#{message.title.sede}">Inicio</title>
</head>

<body>
	<div layout:fragment="content">

		<!-- Promo Block - Parallax -->
		<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll dzsprx-readyall" data-options='{&quot;direction&quot;: &quot;reverse&quot;, &quot;settings_mode_oneelement_max_offset&quot;: &quot;150&quot;}'>
			<div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-bluegray-opacity-0_3--after " style="height: 130%; background-image: url(https://sede.murcia.es/murcia-theme/images/murcia/banner-bg.jpg);"></div>

			<!-- Promo Block Content -->
			<div class="container u-bg-overlay__inner text-center g-pt-30">
				<div class="row">
					<div class="col-lg-8 d-flex justify-content-center align-items-center flex-sm-column">
						<div class="row">
							<div class="col-12">
								<h2 class="h1 g-color-white g-font-weight-600 text-uppercase g-mb-30 w-100">
									<span th:text="#{message.landing.search.label.one}">¿Qu&eacute;</span>
									<span class="g-color-primary" th:text="#{message.landing.search.label.two}">necesitas</span>
									<span th:text="#{message.landing.search.label.three}">?</span>
								</h2>
							</div>
							<div class="col-12">
								<!-- Search Form -->
								<form class="w-100">
									<!-- Search Field -->
									<div class="g-max-width-540 mx-auto g-mb-20">
										<div class="input-group">
											<input type="text" class="form-control g-font-size-16 border-0" placeholder="Busca procedimientos..." th:placeholder="#{message.landing.search.placeholder}" aria-label="Busca procedimientos..."></input>
											<span class="input-group-btn">
												<button class="btn btn-primary g-font-size-18 g-py-12 g-px-25" type="submit">
													<i class="fa fa-search"></i>
												</button>
											</span>
										</div>
									</div>
									<!-- End Search Field -->
								</form>
								<!-- End Search Form -->
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<!-- Posts -->
						<div class="g-mb-30">
							<div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
								<h3 class="u-heading-v2__title h4 g-color-white mb-0 text-uppercase" th:text="#{message.landing.search.featured}">DESTACADOS</h3>
							</div>

							<!-- Article -->
							<article class="media g-mb-30">

								<div class="media-body">
									<h3 class="h6">
										<a class="u-link-v5 g-color-white g-color-primary--hover"
										th:href="'./ficha-procedimiento/'+@{${@environment.getProperty('sede.procedimiento.ocupacion.via.publica')}}"
										>Autorizaci&oacute;n de ocupaci&oacute;n de la v&iacute;a p&uacute;blica</a>
									</h3>
								</div>
							</article>
							<!-- End Article -->

							<!-- Article -->
							<article class="media g-mb-30">

								<div class="media-body">
									<h3 class="h6">
										<a class="u-link-v5 g-color-white g-color-primary--hover" 
										th:href="'./ficha-procedimiento/'+@{${@environment.getProperty('sede.procedimiento.instancia.general')}}">
										Instancia general</a>
									</h3>
								</div>
							</article>
							<!-- End Article -->

							<!-- Article -->
							<article class="media g-mb-30">

								<div class="media-body">
									<h3 class="h6">
										<a class="u-link-v5 g-color-white g-color-primary--hover" 
										th:href="'./ficha-procedimiento/'+@{${@environment.getProperty('sede.procedimiento.quejas.sugerencias')}}">Quejas y sugerencias</a>
									</h3>
								</div>
							</article>
							<!-- End Article -->

							<!-- Article -->
							<article class="media">

								<div class="media-body">
									<h3 class="h6">
										<a class="u-link-v5 g-color-white g-color-primary--hover" 
										th:href="'./ficha-procedimiento/'+@{${@environment.getProperty('sede.procedimiento.empadronamiento')}}">Volante de empadronamiento en un click</a>
									</h3>
								</div>
							</article>
							<!-- End Article -->
						</div>
						<!-- End Posts -->
					</div>
				</div>
			</div>
			<!-- End Promo Block Content -->
		</section>
		<!-- End Promo Block - Parallax -->

		<!-- Icon Blocks -->
		<section class="g-py-15 g-bg-white">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
						<!-- Icon Blocks -->
						<div class="text-center">
							<h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mt-2">
								<a th:text="#{message.landing.button.menu.one}" class="btn u-shadow-v21 g-bg-primary g-color-white g-color-primary--hover g-brd-primary g-bg-white-opacity-0_9--hover g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-12 g-px-20"
								 th:href="'./procedimientos'">PROCEDIMIENTOS</a>
							</h3>
						</div>
						<!-- End Icon Blocks -->
					</div>

					<div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
						<!-- Icon Blocks -->
						<div class="text-center">
							<h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mt-2">
								<a 
                th:text="#{message.landing.button.menu.two}"
                class="btn u-shadow-v21 g-bg-primary g-color-white g-color-primary--hover g-brd-primary g-bg-white-opacity-0_9--hover g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-12 g-px-20"
								th:href="@{'/acceso'}"  href="login.html" >ACCESO</a>
							</h3>
						</div>
						<!-- End Icon Blocks -->
					</div>

					<div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
						<!-- Icon Blocks -->
						<div class="text-center">
							<h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mt-2">
								<a th:text="#{message.landing.button.menu.three}" class="btn u-shadow-v21 g-bg-primary g-color-white g-color-primary--hover g-brd-primary g-bg-white-opacity-0_9--hover g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-12 g-px-20"
								 href="#ayuda">AYUDA</a>
							</h3>
						</div>
						<!-- End Icon Blocks -->
					</div>
				</div>
			</div>
		</section>
		<!-- End Icon Blocks -->

		<!-- Our Services -->
		<section class="g-py-15">
			<div class="container">
				<header class="text-center g-width-60x--md mx-auto g-mb-50">
					<div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
						<h2 th:text="#{message.landing.middle.header}" class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Tr&Aacute;mites para ciudadanos</h2>
					</div>
				</header>

				<div class="row g-mb-20">
					<div class="col-lg-3 g-px-40 g-mb-50" th:each="categoria: ${categorias}">
						<!-- Icon Blocks -->
						<div class="text-center d-flex align-items-center flex-column" style="height: 235px; justify-content: space-between; ">
							<span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle">
								<i th:switch="${iconos.get(categoria.idCategoria).extension}">
										<img th:case="jpg" alt="img" th:src="@{'data:image/jpeg;base64,'+${iconos.get(categoria.idCategoria).base64encoded}}"/>
										<img th:case="png" alt="img" th:src="@{'data:image/png;base64,'+${iconos.get(categoria.idCategoria).base64encoded}}"/>
										<img th:case="gif" alt="img" th:src="@{'data:image/gif;base64,'+${iconos.get(categoria.idCategoria).base64encoded}}"/>
										<span th:case="*" class="icon-communication-081 u-line-icon-pro"></span>
								</i>								
							</span>
							<h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase" th:utext="${categoria.nombre}">Categoria</h3>
							<a th:href="'./servicios/'+${categoria.idCategoria}" class="btn u-shadow-v21 g-bg-primary g-color-white g-color-primary--hover g-brd-primary g-bg-white-opacity-0_9--hover g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-12 g-px-20">
								<span th:text="#{message.landing.middle.button.section}">Ver m&aacute;s</span>
							</a>
						</div>
						<!-- End Icon Blocks -->
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-center">
						<a href="#!" class="btn u-shadow-v21 g-bg-primary g-color-white g-color-primary--hover g-brd-primary g-bg-white-opacity-0_9--hover text-uppercase g-font-weight-600 g-rounded-50 g-py-12 g-px-20">
							<span th:text="#{message.landing.middle.button.global}">VER TODOS</span>
						</a>
					</div>
				</div>
			</div>
		</section>
		<!-- End Our Services -->

		<!-- Icon Blocks -->
		<section class="text-center" id="ayuda">
			<div class="row no-gutters">
				<!-- Icon Blocks -->
				<div class="col-lg-12 u-bg-overlay g-bg-img-hero g-color-white text-center g-pa-60" style="background-image: url(https://sede.murcia.es/murcia-theme/images/murcia/section3-bg.jpg);">
					<div class="u-bg-overlay__inner">
						<h3 class="h3 text-uppercase g-font-weight-600 g-mb-25" th:text="#{message.landing.help.header}">¿Qu&eacute; puedes hacer?</h3>
						<nav class="text-uppercase1 g-mb-25">
							<ul class="list-unstyled g-mt-minus-10 mb-0">
								<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
									<h4 class="h6 g-pr-20 mb-0">
										<a class="g-color-white-opacity-0_8 g-color-white--hover" href="./conoce-la-sede-electronica" th:text="#{message.landing.help.link.one}">Conoce la Sede Electr&oacute;nica</a>
										<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
									</h4>
								</li>
								<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
									<h4 class="h6 g-pr-20 mb-0">
										<a class="g-color-white-opacity-0_8 g-color-white--hover" th:href="'./obtener-certificado'" th:text="#{message.landing.help.link.two}">C&oacute;mo obtener el certificado electr&oacute;nico</a>
										<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
									</h4>
								</li>
								<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
									<h4 class="h6 g-pr-20 mb-0">
										<a class="g-color-white-opacity-0_8 g-color-white--hover" href="./requisitos-tecnicos" th:text="#{message.landing.help.link.three}">Requisitos t&eacute;cnicos</a>
										<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
									</h4>
								</li>
								<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
									<h4 class="h6 g-pr-20 mb-0">
										<a class="g-color-white-opacity-0_8 g-color-white--hover" href="./buscador-procedimientos" th:text="#{message.landing.help.link.four}">B&uacute;scador de procedimientos</a>
										<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
									</h4>
								</li>
								<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
									<h4 class="h6 g-pr-20 mb-0">
										<a class="g-color-white-opacity-0_8 g-color-white--hover" th:href="'./ficha-procedimiento/'+@{${@environment.getProperty('sede.procedimiento.instancia.general')}}" th:text="#{message.landing.help.link.five}">Registro electr&oacute;nico</a>
										<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
									</h4>
								</li>
								<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
									<h4 class="h6 g-pr-20 mb-0">
										<a class="g-color-white-opacity-0_8 g-color-white--hover" href="./quejas-sugerencias" th:text="#{message.landing.help.link.six}">Quejas y Sugerencias</a>
										<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
									</h4>
								</li>
								<li class="g-pos-rel g-py-10">
									<h4 class="h6 g-pr-20 mb-0">
										<a class="g-color-white-opacity-0_8 g-color-white--hover" href="./instrucciones" th:text="#{message.landing.help.link.seven}">Instrucciones para realizar un tr&aacute;mite</a>
										<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
									</h4>
								</li>
							</ul>
						</nav>
						<div class="row text-center">
							<div class="col-xs-12 col-sm-6 g-mb-10 g-mb-0--sm">
								<a th:text="#{message.landing.help.button.one}" class="btn u-shadow-v21 g-bg-white g-color-primary g-color-white--hover g-bg-primary-opacity-0_8--hover g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-12 g-px-20"
								 th:href="@{${@environment.getProperty('sede.conoce.tu.ayuntamiento')}}"></a>
							</div>
							<div class="col-xs-12 col-sm-6">
								<a th:text="#{message.landing.help.button.two}" class="btn u-shadow-v21 g-bg-white g-color-primary g-color-white--hover g-bg-primary-opacity-0_8--hover g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-12 g-px-20"
								 th:href="@{${@environment.getProperty('sede.portal.transparencia')}}">PORTAL DE TRASNPARENCIA</a>
							</div>
						</div>

					</div>
				</div>
				<!-- End Icon Blocks -->
			</div>
		</section>
		<!-- End Icon Blocks -->


	</div>
</body>

</html>