<!DOCTYPE html>
<html lang="es" layout:decorate="~{layouts/main}">

<head>
    <title>Certificado Electrónico</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div th:replace="~{fragments/pageHeader :: pageHeader(#{message.obtener.certificado.electronico.page.header})}"></div>

            <div class="g-mb-20">
                <div>

                    <p th:text="#{message.obtener.certificado.electronico.section.one.intro}">En los siguientes apartados podrá encontrar toda la información sobre el proceso que debe realizar para obtener el certificado electrónico correspondiente, en función de cada Autoridad certificadora.
                    </p>
                    <h4 th:text="#{message.obtener.certificado.electronico.section.one.header}">DNI Electr&oacute;nico</h4>
                    <p>
                        <span th:text="#{message.obtener.certificado.electronico.section.one.p.one.part.one}">El nuevo Documento Nacional de Identidad electr&oacute;nico (</span>
                        <strong th:text="#{message.obtener.certificado.electronico.section.one.p.one.strong}">DNIe</strong>
                        <span th:text="#{message.obtener.certificado.electronico.section.one.p.one.part.two}">
                            ), es el documento similar al tradicional DNI y que acredita -desde hace m&aacute;s de 50 años- la identidad, los datos personales
                            que en &eacute;l aparecen y la nacionalidad española de su titular. La principal novedad del
                            nuevo DNIe es que incorpora un microchip capaz de guardar de forma segura informaci&oacute;n
                            y de procesarla internamente.</span>
                    </p>
                    <p th:text="#{message.obtener.certificado.electronico.section.one.p.two}">
                        El nuevo DNIe contiene en el interior de su microchip dos certificados electr&oacute;nicos que sirven para realizar sendas
                        funciones, dentro del &aacute;mbito de la tramitaci&oacute;n electr&oacute;nica:
                    </p>
                    <ol>
                        <li>
                            <strong th:text="#{message.obtener.certificado.electronico.section.one.list.one.strong}">Acreditar la identidad de la persona</strong>
                            <span th:text="#{message.obtener.certificado.electronico.section.one.list.one}">electr&oacute;nicamente y de forma indubitada</span>
                        </li>
                        <li>
                            <strong th:text="#{message.obtener.certificado.electronico.section.one.list.two.strong}">Firmar digitalmente documentos electr&oacute;nicos,</strong>
                            <span th:text="#{message.obtener.certificado.electronico.section.one.list.two}">
                                otorg&aacute;ndoles una validez jur&iacute;dica equivalente a la que les proporciona la firma manuscrita
                            </span>
                        </li>
                    </ol>
                    <p>
                        <span th:text="#{message.obtener.certificado.electronico.section.one.p.three}">
                            Si usted dispone del nuevo DNI Electr&oacute;nico, debe asegurarse de que tiene activados los certificados electr&oacute;nicos
                            anteriormente mencionados, para lo que deber&aacute; acreditar su identidad mediante la huella
                            digital en cualquier sede f&iacute;sica de la Oficina del DNI en Territorio Español.
                        </span>
                    </p>
                    <p th:text="#{message.obtener.certificado.electronico.section.one.p.four}">
                        Si no dispone del nuevo DNI Electr&oacute;nico, tiene la opci&oacute;n de expedir uno nuevo en cualquier oficina del DNI
                        en Territorio Español u optar por el uso de los otros tipos de certificados que se mencionan m&aacute;s
                        adelante en esta p&aacute;gina.</p>
                </div>
                <div>
                    <h4 th:text="#{message.obtener.certificado.electronico.section.two.header}"> ACCV </h4>
                    <p>
                        <span th:text="#{message.obtener.certificado.electronico.section.two.p.one.part.one}">La</span>
                        <strong th:text="#{message.obtener.certificado.electronico.section.two.p.one.strong}">Agencia de Tecnolog&iacute;a y Certificaci&oacute;n Electr&oacute;nica</strong>
                        <span th:text="#{message.obtener.certificado.electronico.section.two.p.one.part.two}">
                            (ACCV) es un departamento del Instituto Valenciano de Finanzas, a trav&eacute;s de que se proporciona a los ciudadanos, las
                            empresas y las Administraciones P&uacute;blicas los mecanismos de identificaci&oacute;n telem&aacute;tica
                            segura en los tr&aacute;mites administrativos a trav&eacute;s de Internet: los certificados digitales
                            y las tecnolog&iacute;as asociadas.
                        </span>
                    </p>
                        <span th:text="#{message.obtener.certificado.electronico.section.two.p.three}">
                            Obtenga en este enlace la informaci&oacute;n completa de c&oacute;mo obtener el certificado que le interesa:
                        </span>
                        <a href="http://www.accv.es" th:text="#{message.obtener.certificado.electronico.section.two.p.three.link}">http://www.accv.es</a>
                    </p>
                </div>
                <div>
                    <h4 th:text="#{message.obtener.certificado.electronico.section.four.header}"> FNMT </h4>
                    <p>
                        <span th:text="#{message.obtener.certificado.electronico.section.four.p.one.part.one}">La</span>
                        <strong th:text="#{message.obtener.certificado.electronico.section.four.p.one.strong}">F&acute;brica Nacional de Moneda y Timbre - Real Casa de la Moneda</strong>
                        <span th:text="#{message.obtener.certificado.electronico.section.four.p.one.part.two}">, a trav&eacute;s de su departamento CERES (CERtificación ESpañola), 
                            ofrece los certificados electr&oacute;nicos de usuario reconocidos por la amplia mayoría de las Administraciones P&uacute;blicas. Adem&aacute;s ofrece a Administraciones 
                            P&uacute;blicas y Empresas sus Servicios de Certificaci&oacute;n que garantizan los principios de Autenticaci&oacute;n, Integridad, Confidencialidad y No repudio en las 
                            comunicaciones a trav&eacute;s de redes abiertas.

                    </p>
                    <p>
                        <span th:text="#{message.obtener.certificado.electronico.section.four.p.three}">Obtenga en este enlace la informaci&acute;n completa sobre los distintos tipos de certificados que ofrecen y cómo obtener el que le interesa:</span>
                        <a href="http://www.camerfirma.com" th:text="#{message.obtener.certificado.electronico.section.four.p.three.link}">http://www.camerfirma.com</a>
                    </p>
                </div>
                <div>
                        <h4 th:text="#{message.obtener.certificado.electronico.section.five.header}"> ACA </h4>
                        <p>
                            <span th:text="#{message.obtener.certificado.electronico.section.five.p.one.part.one}">La</span>
                            <strong th:text="#{message.obtener.certificado.electronico.section.five.p.one.strong}">Autoridad Certificadora Camerfirma</strong>
                            <span th:text="#{message.obtener.certificado.electronico.section.five.p.one.part.two}">se estableci&oacute; como Prestador de Servicios de Certificaci&oacute;n 
                                al amparo de la LEY 59/2003, de 19 de diciembre, de Firma Electr&oacute;nica, distribuyendo certificados de identidad que permiten a las empresas y a sus empleados 
                                identificarse en la red y firmar electr&oacute;nicamente documentos con total seguridad t&eactue;cnica y jur&iacute;­dica.
                        </p>
                        <p>
                            <span th:text="#{message.obtener.certificado.electronico.section.five.p.three}">Obtenga en este enlace la informaci&acute;n completa sobre los distintos tipos de certificados que ofrecen y cómo obtener el que le interesa:</span>
                            <a href="http://www.camerfirma.com" th:text="#{message.obtener.certificado.electronico.section.five.p.three.link}">http://www.camerfirma.com</a>
                        </p>
                    </div>
                    <div>
                            <h4 th:text="#{message.obtener.certificado.electronico.section.six.header}"> Firmaprofesional </h4>
                            <p>
                                <span th:text="#{message.obtener.certificado.electronico.section.six.p.one.part.one}">La</span>
                                <strong th:text="#{message.obtener.certificado.electronico.section.six.p.one.strong}">Autoridad Certificadora Firmaprofesional</strong>
                                <span th:text="#{message.obtener.certificado.electronico.section.six.p.one.part.two}">emite certificados reconocidos y aceptados por la administraci&acute;n y por entidades privadas como Mozilla, Microsoft, Apple y Adobe.
                            </p>
                            <p>
                                <span th:text="#{message.obtener.certificado.electronico.section.six.p.three}">Obtenga en este enlace la informaci&acute;n completa sobre los distintos tipos de certificados que ofrecen y c&acute;mo obtener el que le interesa:</span>
                                <a href="http://www.camerfirma.com" th:text="#{message.obtener.certificado.electronico.section.six.p.three.link}">https://www.firmaprofesional.com/esp/ </a>
                            </p>
                        </div>
            </div>
        </section>
    </div>
</body>

</html>