<!DOCTYPE html>
<html lang="en"
	layout:decorate="~{/layouts/main}">
<head>
	<title>Inicio</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="g-py-15 navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
			<div class="row g-ma-0">
				<ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">

					<!-- Intro -->
					<li class="nav-item  g-mx-10--lg g-mx-15--xl">
						<a class="nav-link g-py-7 g-px-0" href="licitaciones.html" th:href="@{/licitaciones}" th:text="#{message.subheader.menu.link.three}">Licitaciones</a>
					</li>
					<!-- End Intro -->

					<!-- Intro -->
					<li class="nav-item  g-mx-10--lg g-mx-15--xl">
						<a class="nav-link g-py-7 g-px-0" href="aperturas.html" th:href="@{/aperturas}" th:text="#{message.subheader.menu.link.four}">Aperturas</a>
					</li>
					<!-- End Intro -->

					<!-- Intro -->
					<li class="nav-item  g-mx-10--lg g-mx-15--xl">
						<a class="nav-link g-py-7 g-px-0" href="adjudicaciones.html" th:href="@{/adjudicaciones}" th:text="#{message.subheader.menu.link.five}">Adjudicaciones</a>
					</li>
					<!-- End Intro -->

					<!-- Intro -->
					<li class="nav-item  g-mx-10--lg g-mx-15--xl">
						<a class="nav-link g-py-7 g-px-0" href="documentos.html" th:href="@{/documentos}" th:text="#{message.subheader.menu.link.six}">Documentos</a>
					</li>
					<!-- End Intro -->

					<!-- Intro -->
					<li class="nav-item  g-mx-10--lg g-mx-15--xl">
						<a class="nav-link g-py-7 g-px-0" href="modelos.html" th:href="@{/modelos}" th:text="#{message.subheader.menu.link.seven}">Modelos</a>
					</li>
					<!-- End Intro -->

					<!-- Intro -->
					<li class="nav-item  g-mx-10--lg g-mx-15--xl">
						<a class="nav-link g-py-7 g-px-0" href="avisos.html" th:href="@{/avisos}" th:text="#{message.subheader.menu.link.eight}">Avisos</a>
					</li>
					<!-- End Intro -->
					<!-- Intro -->
					<li class="nav-item  g-mx-10--lg g-mx-15--xl">
						<a class="nav-link g-py-7 g-px-0" href="noticias.html" th:href="@{/noticias}" th:text="#{message.subheader.menu.link.nine}">Noticias</a>
					</li>
					<!-- End Intro -->
					<!-- Intro -->
					<li class="nav-item  g-mx-10--lg g-mx-15--xl">
						<a class="nav-link g-py-7 g-px-0" href="paradas.html" th:href="@{/paradas}" th:text="#{message.subheader.menu.link.ten}">Paradas</a>
					</li>
					<!-- End Intro -->
					<!-- Intro -->
					<li class="nav-item  g-mx-10--lg g-mx-15--xl">
						<a class="nav-link g-py-7 g-px-0" href="anuncios.html" th:href="@{/anuncios}" th:text="#{message.subheader.menu.link.eleven}">Tablon anuncios</a>
					</li>
					<!-- End Intro -->
				</ul>
			</div>
		</section>
	</div>
</body>
</html>