<!DOCTYPE html>
<html lang="es" layout:decorator="/layouts/main">

<head>
    <title>Quejas y Sugerencias</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div th:replace="~{fragments/pageHeader :: pageHeader(#{message.quejas.sugerencias.page.header})}"></div>

            <div class="g-mb-20">
                <p>
                    <span th:text="#{message.quejas.sugerencias.p.one.span.one}">Desde esta sección podrá acceder al trámite de </span>
                    <strong th:text="#{message.quejas.sugerencias.p.one.strong}">Quejas y Sugerencias</strong>
                    <span th:text="#{message.quejas.sugerencias.p.one.span.two}">
                        , consistente en el ejercicio del derecho de petición que toda persona -natural o jurídica- puede ejercer individual o colectivamente
                        ante cualquier Institución pública, Administración, o Autoridad, así como los órganos de dirección
                        y administración de los organismos y entidades vinculadas o dependientes de las Administraciones
                        Públicas, respecto de las materias de su competencia cualquiera que sea el ámbito territorial o funcional.
                    </span>
                </p>
                <p>
                    <span th:text="#{message.quejas.sugerencias.p.two.span.one}">
                        La tramitación de su queja o sugerencia dará lugar a un procedimiento administrativo que será tramitado por el 
                    </span>
                    <strong th:text="#{message.quejas.sugerencias.p.two.strong}">Ayuntamiento de Murcia</strong>
                    <span th:text="#{message.quejas.sugerencias.p.two.span.two}">siguiendo los cauces establecidos para todos los procedimientos que se tramitan desde esta Sede Electrónica.</span>
                </p>
                <p th:text="#{message.quejas.sugerencias.p.three}">Pulse el siguiente botón para acceder a la tramitación del procedimiento de Quejas y Sugerencias.</p>
                <p class="text-center">
                    <a th:href="'./ficha-procedimiento?id='+@{${@environment.getProperty('sede.procedimiento.quejas.sugerencias')}}"
                    class="btn btn-md u-btn-primary rounded-0 g-color-white" th:text="#{message.quejas.sugerencias.button}">Quejas y sugerencias</a>
                </p>
            </div>
        </section>
    </div>
</body>

</html>