<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main}">

<head>
	<title th:text="*{licitacion.id!=null}?  #{message.licitaciones.form.edit} : #{message.licitaciones.form.new}"></title>
</head>
<body>
	<!-- JS Unify -->
	<script  src="../../js/components/hs.tabs.js"></script>

<!-- JS Plugins Init. -->
	<script  src="../../js/tabInit.js"></script>


	<div layout:fragment="content">
		<div th:replace="~{fragments/admin/navbar :: navbar}"></div>
		<section class="g-py-15">
			<div class="u-heading-v1-1 g-bg-main g-brd-transparent g-pa-30">
				<h2 class="h3 u-heading-v1__title" th:text="*{licitacion.id!=null}? #{message.licitaciones.form.edit} : #{message.licitaciones.form.new}"></h2>
			</div>

			<form class="g-pa-30 g-mb-30" th:object="${licitacion}" th:action="@{/admin/licitaciones/save}" method="post" enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}" />

				<div th:replace="~{fragments/inputs/dateField :: input(#{message.licitaciones.form.label.publishdate}, 'fechaPub', #{message.error.notempty}, true, false)}"></div>
				<div class="row">
					<div class="col-10">
						<!-- Tab panes -->
						<div id="nav-5-2-primary-ver" class="tab-content g-pt-20">
							<div th:each="des,iter: ${licitacion.traducciones}" class="tab-pane fade" th:classappend="${iter.index==0} ? 'show active' : ''"  th:id="'nav-5-2-primary-ver--'+${iter.index}" role="tabpanel">
								<div th:replace="~{fragments/inputs/textareaField :: input (#{message.licitaciones.form.label.description}, traducciones[__${iter.index}__].descripcion, #{message.error.notempty}, 4, 50, true, false)}"></div>
								<input type="hidden" th:field="*{traducciones[__${iter.index}__].idioma}" />
							</div>
	  					</div>
	  					<!-- End Tab panes -->

					</div>
					<div class="col-2">
						<h4 th:text="#{message.languages.header}">Idioma:</h4>
						<ul class="nav flex-column u-nav-v5-2 u-nav-primary" role="tablist" 
						data-target="nav-5-2-primary-ver" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-primary" >
							<li class="nav-item" th:each="lang,iter: ${langs}">
								<a class="nav-link" th:classappend="${iter.index==0} ? active : ''" data-toggle="tab" th:href="'#nav-5-2-primary-ver--'+${iter.index}" th:text="${lang.codigo} +' - ' + ${lang.idioma}">Home</a>
							</li>
					    </ul>
					</div>
				</div>
				<div th:replace="~{fragments/inputs/numberField :: input(#{message.licitaciones.form.label.budget}, 'presupuesto', 0.01, #{message.error.notempty}, true, false)}"></div>
				<div th:replace="~{fragments/inputs/dateField :: input(#{message.licitaciones.form.label.enddate}, 'finPlazo', #{message.error.notempty}, true, false)}"></div>
				<div th:replace="~{fragments/inputs/selectField :: input(#{message.licitaciones.form.label.means}, 'medio', ${#strings.arraySplit(#messages.msg('sede.medio'), ',')}, #{message.licitaciones.form.voidselection.means}, #{message.error.notempty}, true, false)}"></div>
				<div th:replace="~{fragments/inputs/fileField :: input(#{message.licitaciones.form.label.file}, #{message.licitaciones.form.button.file}, 'fileToUpload', #{message.error.notempty}, false, false)}"></div>

				<div th:replace="~{fragments/formButtons :: formButtons(@{/admin/licitaciones}, #{message.licitaciones.form.button.back}, #{message.licitaciones.form.button.save})}"></div>

			</form>
		</section>
	</div>
</body>
</html>