<!DOCTYPE html>
<html lang="es" layout:decorator="/layouts/main">

<head>
    <title>Actualidad/Actividades</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div th:replace="~{fragments/pageHeader :: pageHeader(#{message.actualidad.actividades.page.header})}"></div>

            <div class="g-mb-20">
                <p>
                    <span th:text="#{message.actualidad.actividades.p.span.one}">En esta sección se regogen todas las noticias, eventos y actualidad relacionada con la </span>
                    <strong th:text="#{message.actualidad.actividades.p.strong}">Sede Electrónica del Ayuntamiento de Murcia</strong>
                    <span th:text="#{message.actualidad.actividades.p.span.two}">, tales como novedades, nuevas funcionalidades, avisos de paradas programadas de la Sede, etc.</span>
                </p>
            </div>

            <div class="g-mb-20">
                <h4 class="g-brd-bottom g-brd-gray-light-v4">
                    <a href="">Puesta en marcha de la Sede Electrónica</a>
                </h4>
                <div class="row">
                    <div class="col-sm-10">
                        <p class="g-mb-0">El Ayuntamiento de Murcia pone al servicio de los ciudadanos el Portal Web de su nueva Sede Electrónica,
                            fruto del esfuerzo realizado durante los últimos meses. Dicho portal es el...</p>
                        <p>
                            <a href="">Leer Más
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </p>
                        <p>
                            <small>25/09/2016 19:00</small>
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <img class="g-width-100p" src="http://sede.murcia.es/documents/20181/0/Portada+Sede.gif/7edcc76b-67d5-4148-81ac-43a509beaf06?t=1469642903313"
                            alt="">
                    </div>
                </div>
            </div>

            <div>
                <h4 class="g-brd-bottom g-brd-gray-light-v4">
                    <a href="">La nueva Sede Electrónica municipal permitirá a partir de septiembre realizar desde casa multitud de
                        gestiones con el Ayuntamiento</a>
                </h4>
                <div class="row">
                    <div class="col-sm-10">
                        <p class="g-mb-0">Los murcianos podrán solicitar y obtener de forma ágil, rápida y sencilla los distintos trámites
                            telemáticos ofrecidos por los servicios municipales</p>
                        <p>
                            <a href="">Leer Más
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </p>
                        <p>
                            <small>25/08/2016 14:00</small>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>

</html>