<!DOCTYPE html>
<html lang="es" layout:decorator="/layouts/main">

<head>
    <title>Firma electrónica y Certificados admitidos</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-lg-3 g-pr-40--lg g-mb-50 g-mb-0--lg">
                    <div th:replace="~{fragments/sideMenuSede :: menu}"></div>
                </div>
                <!-- End Sidebar -->

                <div class="col-lg-9">
                    <div class="u-heading-v1-1 g-bg-main g-brd-transparent g-mb-20">
                        <h2 class="h3 u-heading-v1__title">Firma electrónica y Certificados admitidos</h2>
                    </div>

                    <div>
                        <p>
                            <span>El </span>
                            <strong>Ayuntamiento de Murcia</strong>
                            <span> usa los certificados electrónicos para la identificación y firma electrónicas en aquellos supuestos
                                en los que la normativa vigente, bien lo permite o bien lo exige.</span>
                        </p>
                        <p>
                            Actualmente se está trabajando en la implantación gradual de otros mecanismos alternativos y actualmente admitidos en el
                            ámbito de las Administraciones Públicas, tales como autentificación de usuario certificada, Cl@ve
                            y Cl@ve PIN, entre otros.
                        </p>
                    </div>

                    <div>
                        <h4>Certificados electrónicos</h4>
                        <p>
                            <span>Un </span>
                            <strong>certificado electrónico</strong>
                            <span> (o certificado digital) es un fichero informático generado por una entidad de servicios de certificación
                                que asocia unos datos de identidad a una persona física, organismo o empresa confirmando
                                de esta manera su identidad digital en Internet.</span>
                        </p>
                        <p>
                            <span>El </span>
                            <strong>certificado electrónico</strong>
                            <span> es válido principalmente para autenticar a un usuario o sitio web en internet, por lo que es
                                necesaria la colaboración de un tercero que sea de confianza para cualquiera de las partes,
                                al que se conoce como </span>
                            <strong>Autoridad Certificadora</strong>
                            <span>, que participa en la comunicación. Dicha Autoridad Certificadora puede ser un organismo público
                                o una empresa reconocida en el ámbito de Internet.</span>
                        </p>
                        <p>
                            <span>El </span>
                            <strong>certificado electrónico</strong>
                            <span> realiza tres funciones:</span>
                        </p>
                        <ul>
                            <li>
                                <strong>Autenticar al poseedor</strong>
                                <span>, a fin de acreditar -en el caso de la Sede Electrónica- la identidad del ciudadano que desea
                                    realizar una tramitación online
                                </span>
                            </li>
                            <li>
                                <strong>Firmar digitalmente</strong>
                                <span> los datos que se envían de tal forma que se pueda acreditar y garantizar su integridad y
                                    procedencia
                                </span>
                            </li>
                            <li>
                                <strong>Cifrar las comunicaciones</strong>
                                <span>, entre el ciudadano y otros terceros -personas o entidades- en este caso el Ayuntamiento
                                    de Murcia</span>
                            </li>
                        </ul>
                        <p>
                            <span>Actualmente, el </span>
                            <strong>Ayuntamiento de Murcia</strong>
                            <span> admite certificados electrónicos de los siguientes proveedores de servicios de certificación:</span>
                        </p>
                        <ul>
                            <li>
                                <a href="">DNI electrónico</a>
                                <span> (Dirección General de Policía - Ministerio del Interior)</span>
                            </li>
                            <li>
                                <a href="">ACCV (Agencia de Tecnología y Certificación Electrónica de la Generalitat Valenciana)</a>
                            </li>
                            <li>
                                <span>En general, todos aquellos certificados reconocidos en la plataforma </span>
                                <strong>@Firma</strong>
                                <span> del Ministerio de Hacienda y Administraciones Públicas</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>