<!DOCTYPE html>
<html lang="es" layout:decorator="/layouts/main">

<head>
    <title>Ficha procedimiento</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div th:replace="~{fragments/pageHeader :: pageHeader(#{message.instancia.general.page.header})}"></div>

            <div class="g-mb-30">
                <p>
                    <span th:text="#{message.instancia.general.p.one.span.one}">La </span>
                    <strong th:text="#{message.instancia.general.p.one.strong}">Instancia general</strong>
                    <span th:text="#{message.instancia.general.p.one.span.two}"> es el canal de comunicaci&oacute;n disponible para los ciudadanos con el Ayuntamiento, para solicitar
                        informaci&oacute;n en cualquier materia de competencia municipal.</span>
                </p>
                <p th:text="#{message.instancia.general.p.two}">El objeto de este procedimiento es poner a disposici&oacute;n de todos los ciudadanos un canal de comunicaci&oacute;n
                    con el Ayuntamiento para solicitar informaci&oacute;n, o bien para solicitar el inicio de la tramitaci&oacute;n
                    de alg&uacute;n otro procedimiento de los que actualmente no est&eacute;n contemplados en el cat&aacute;logo
                    de esta Sede Electr&oacute;nica.</p>
            </div>

            <div class="g-mb-30">
                <!-- Nav tabs -->
                <ul class="nav text-center nav-justified u-nav-v3-1" role="tablist" data-target="nav-3-1-default-hor-left" data-tabs-mobile-type="slide-up-down"
                    data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-lightgray g-bg-primary g-color-white">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#nav-3-1-default-hor-left--1" role="tab">
                            <i class="icon-mouse d-block g-font-size-25 u-tab-line-icon-pro"></i>
                            <span th:text="#{message.instancia.general.tab.one.header}">Online</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-3-1-default-hor-left--2" role="tab">
                            <i class="icon-phone d-block g-font-size-25 u-tab-line-icon-pro"></i>
                            <span th:text="#{message.instancia.general.tab.two.header}">Tel&eacute;fono</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-3-1-default-hor-left--3" role="tab">
                            <i class="icon-user d-block g-font-size-25 u-tab-line-icon-pro"></i>
                            <span th:text="#{message.instancia.general.tab.three.header}">Presencial</span>
                        </a>
                    </li>
                </ul>
                <!-- End Nav tabs -->

                <!-- Tab panes -->
                <div id="nav-3-1-default-hor-left" class="tab-content g-pt-20">
                    <div class="tab-pane fade show active" id="nav-3-1-default-hor-left--1" role="tabpanel">
                        <p>
                            <span th:text="#{message.instancia.general.tab.one.p.span.one}">A trav&eacute;s de esta </span>
                            <strong th:text="#{message.instancia.general.tab.one.p.strong}">Sede Electr&oacute;nica</strong>
                            <span th:text="#{message.instancia.general.tab.one.p.span.two}">durante las 24 horas, los 365 d&iacute;as del año, mediante acceso con </span>
                            <a href="" th:text="#{message.instancia.general.tab.one.p.link}">certificado electr&oacute;nico.</a>
                        </p>
                        <p class="text-center">
                            <a href="" class="btn btn-md u-btn-primary rounded-0" th:text="#{message.instancia.general.tab.one.button}">Tramitar Online</a>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="nav-3-1-default-hor-left--2" role="tabpanel">
                        <p th:text="#{message.instancia.general.tab.two.p}">A trav&eacute;s del Tel&eacute;fono de Informaci&oacute;n Ciudadana, 010.</p>
                    </div>
                    <div class="tab-pane fade" id="nav-3-1-default-hor-left--3" role="tabpanel">
                        <p>
                            <span th:text="#{message.instancia.general.tab.three.p.span}">A trav&eacute;s de las </span>
                            <a href="" th:text="#{message.instancia.general.tab.three.p.link}">Oficinas municipales de Atenci&oacute;n al Ciudadano.</a>
                        </p>
                    </div>
                </div>
                <!-- End Tab panes -->
            </div>

            <div id="accordion-05" class="u-accordion" role="tablist" aria-multiselectable="true">
                <!-- Card -->
                <div class="card rounded-0 g-brd-none">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.one.header}, '1', false, true)}"></div>
                    <div id="accordion-05-body-1" class="collapse show" role="tabpanel" aria-labelledby="accordion-05-heading-1">
                        <div class="u-accordion__body">
                            <p th:text="#{message.instancia.general.accordion.one.p}">Personas f&iacute;sicas y jur&iacute;dicas.</p>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.two.header}, '2', true, false)}"></div>
                    <div id="accordion-05-body-2" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-2">
                        <div class="u-accordion__body">
                            <p th:text="#{message.instancia.general.accordion.two.p.one}">Deber&aacute; presentar el formulario de solicitud debidamente cumplimentado.</p>
                            <p th:text="#{message.instancia.general.accordion.two.p.two}">En caso de optar por la presentaci&oacute;n presencial, deber&aacute; aportar el NIF o CIF o
                                Pasaporte en vigor o NIE (n&uacute;mero de Identidad de Extranjero) del solicitante y documento
                                de representaci&oacute;n.</p>
                            <p>
                                <strong th:text="#{message.instancia.general.accordion.two.p.three.strong}">Modelos normalizados</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.three.header}, '3', true, true)}"></div>
                    <div id="accordion-05-body-3" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-3">
                        <div class="u-accordion__body">
                            <p th:text="#{message.instancia.general.accordion.three.p}">Aqu&iacute; puede descargar los modelos normalizados autorellenables para su presentaci&oacute;n
                                presencial.
                            </p>
                            <ul>
                                <li>
                                    <a href="" th:text="#{message.instancia.general.accordion.three.list.link}">Formulario de Instancia General</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.four.header}, '4', true, false)}"></div>
                    <div id="accordion-05-body-4" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-4">
                        <div class="u-accordion__body">
                            <p th:text="#{message.instancia.general.accordion.four.p.one}">El procedimiento se iniciar&aacute; por medio de una solicitud que ser&aacute; presentada por
                                el interesado o su representante.</p>
                            <p th:text="#{message.instancia.general.accordion.four.p.two}">Una vez examinada la solicitud, se decretar&aacute;, en funci&oacute;n de la materia de que se
                                trate, su tramitaci&oacute;n y resoluci&oacute;n a trav&eacute;s de la unidad o servicio
                                que resulte competente en esa materia.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.five.header}, '5', true, true)}"></div>
                    <div id="accordion-05-body-5" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-5">
                        <div class="u-accordion__body">
                            <p>
                                <span th:text="#{message.instancia.general.accordion.five.p.span.one}">Este procedimiento </span>
                                <strong th:text="#{message.instancia.general.accordion.five.p.strong}">no tiene coste</strong>
                                <span th:text="#{message.instancia.general.accordion.five.p.span.two}">para el ciudadano.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.six.header}, '6', true, false)}"></div>
                    <div id="accordion-05-body-6" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-6">
                        <div class="u-accordion__body">
                            <p th:text="#{message.instancia.general.accordion.six.p}">En funci&oacute;n de la solicitud cursada</p>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.seven.header}, '7', true, true)}"></div>
                    <div id="accordion-05-body-7" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-7">
                        <div class="u-accordion__body">
                            <p th:text="#{message.instancia.general.accordion.seven.p}">Al tratarse de una solicitud gen&eacute;rica, dicha solicitud ser&aacute; dirigida al organismo
                                competente de resolverla en funci&oacute;n de la materia de que se trate.</p>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.eight.header}, '8', true, false)}"></div>
                    <div id="accordion-05-body-8" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-8">
                        <div class="u-accordion__body">
                            <p th:text="#{message.instancia.general.accordion.eight.p}">Los recursos ser&aacute;n los aplicables en funci&oacute;n del asunto y del organismo que resulte
                                competente para su estimaci&oacute;n y resoluci&oacute;n. </p>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.nine.header}, '9', true, true)}"></div>
                    <div id="accordion-05-body-9" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-9">
                        <div class="u-accordion__body">
                            <p>
                                <ul>
                                    <li>
                                        <strong th:text="#{message.instancia.general.accordion.nine.list.one.strong}">Ley 11/2007, de 22 de junio</strong>
                                        <span th:text="#{message.instancia.general.accordion.nine.list.one.span}">, de acceso electr&oacute;nico de los ciudadanos a los Servicios P&uacute;blicos</span>
                                    </li>
                                    <li>
                                        <strong th:text="#{message.instancia.general.accordion.nine.list.two.strong}">Ley 39/2015, de 1 de octubre</strong>
                                        <span th:text="#{message.instancia.general.accordion.nine.list.two.span}">, del Procedimiento Administrativo Com&uacute;n de las Administraciones P&uacute;blicas</span>
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.ten.header}, '10', true, false)}"></div>
                    <div id="accordion-05-body-10" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-10">
                        <div class="u-accordion__body">
                            <p>
                                <strong th:text="#{message.instancia.general.accordion.ten.p.one.strong}">¿Puedo presentar una solicitud que verse sobre cualquier materia en el &aacute;mbito municipal?</strong>
                            </p>
                            <p th:text="#{message.instancia.general.accordion.ten.p.two}">S&iacute;. Su solicitud puede estar versada en cualquiera de las materias de las que son competentes
                                los diferentes servicios municipales y, en funci&oacute;n de la materia de que se trate,
                                ser&aacute; dirigida al servicio competente para su estimaci&oacute;n y resoluci&oacute;n.
                            </p>
                            <p>
                                <strong th:text="#{message.instancia.general.accordion.ten.p.three.strong}">¿Puedo cursar una solicitud dirigida a otro Organismo P&uacute;blico distinto del Ayutamiento
                                    de Murcia?
                                </strong>
                            </p>
                            <p th:text="#{message.instancia.general.accordion.ten.p.four}">S&iacute;. El Ayuntamiento de Murcia se encuentra adscrito al Sistema de Interconexi&oacute;n
                                de Registros (SIR) entre Administraciones P&uacute;blicas, el cual permite eliminar el tr&aacute;nsito
                                de papel entre las diferentes administraciones. Las solicitudes cursadas por este canal podr&aacute;n
                                ir dirigidas a cuaqluier Organismo de la Administraci&oacute;n P&uacute;blica Española adscrito
                                al Sistema SIR.</p>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.eleven.header}, '11', true, true)}"></div>
                    <div id="accordion-05-body-11" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-11">
                        <div class="u-accordion__body">
                            <p th:text="#{message.instancia.general.accordion.eleven.p}">Para interesarse por el estado de la estimaci&oacute;n y/o resoluci&oacute;n de la solicitud,
                                podr&aacute; consultar la Carpeta del Ciudadano dentro de esta Sede Electr&oacute;nica durante
                                las 24 horas del d&iacute;a, los 365 d&iacute;as del año, o bien llamar al Tel&eacute;fono
                                de Informaci&oacute;n Ciudadana, 010.</p>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

            </div>
        </section>
    </div>
</body>

</html>