<!DOCTYPE html>
<html lang="es" layout:decorator="/layouts/main">

<head>
    <title>Mapa Web</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <ul>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.one}">Home</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.two}">Tabl&oacute;n de anuncios</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.three}">Actualidad/Actividad</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.four}">Notifica</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.five}">Verifirma</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.six}">Carpeta del ciudadano</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.seven}">Perfil del contratante</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.eight}">Áreas</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.nine}">Procedimientos</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.ten}">Acceso</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.eleven}">Resultados de b&uacute;squeda</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.twelve}">¿Te ha sido &uacute;til esta p&aacute;gina?</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.thirteen}">La Sede Electr&oacute;nica</a>
                    <ul>
                        <li>
                            <a href="" th:text="#{message.mapa.web.link.thirteen.li.link.one}">Normativa sobre la Sede</a>
                        </li>
                        <li>
                            <a href="" th:text="#{message.mapa.web.link.thirteen.li.link.two}">Contenidos de la Sede</a>
                        </li>
                        <li>
                            <a href="" th:text="#{message.mapa.web.link.thirteen.li.link.three}">Servicios de la Sede</a>
                        </li>
                        <li>
                            <a href="" th:text="#{message.mapa.web.link.thirteen.li.link.four}">Registro electr&oacute;nico</a>
                        </li>
                        <li>
                            <a href="" th:text="#{message.mapa.web.link.thirteen.li.link.five}">Firma electr&oacute;nica y Certificados admitidos</a>
                        </li>
                        <li>
                            <a href="" th:text="#{message.mapa.web.link.thirteen.li.link.six}">Verificaci&oacute;n de documentos</a>
                        </li>
                        <li>
                            <a href="" th:text="#{message.mapa.web.link.thirteen.li.link.seven}">Fecha y Hora Oficial</a>
                        </li>
                        <li>
                            <a href="" th:text="#{message.mapa.web.link.thirteen.li.link.eight}">Calendario de d&iacute;as inh&aacute;biles</a>
                        </li>
                        <li>
                            <a href="" th:text="#{message.mapa.web.link.thirteen.li.link.nine}">Sedes F&iacute;sicas del Ayuntamiento</a>
                        </li>
                        <li>
                            <a href="" th:text="#{message.mapa.web.link.thirteen.li.link.ten}">Paradas programadas</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.fourteen}">C&oacute;mo obtener el certificado electr&oacute;nico</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.fifteen}">Requisitos t&eacute;cnicos</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.sixteen}">Acceso Portal</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.seventeen}">Accesibilidad</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.eighteen}">Contacto</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.nineteen}">Aviso legal</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.twenty}">Datos Personales</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.twentyone}">Solicitud de acceso a Informaci&oacute;n P&uacute;blica</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.twentytwo}">Corporaci&oacute;n</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.twentythree}">Como hacer tramite</a>
                </li>
                <li>
                    <a href="" th:text="#{message.mapa.web.link.twentyfour}">Mapa Web</a>
                </li>
            </ul>
        </section>
    </div>
</body>

</html>