<!DOCTYPE html>
<html lang="es" layout:decorator="/layouts/main">

<head>
    <title>Certificado Electrónico</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div th:replace="~{fragments/pageHeader :: pageHeader(#{message.obtener.certificado.electronico.page.header})}"></div>

            <div class="g-mb-20">
                <div>
                    <h4 th:text="#{message.obtener.certificado.electronico.section.one.header}">DNI Electr&oacute;nico</h4>
                    <p>
                        <span th:text="#{message.obtener.certificado.electronico.section.one.p.one.part.one}">El nuevo Documento Nacional de Identidad electr&oacute;nico (</span>
                        <strong th:text="#{message.obtener.certificado.electronico.section.one.p.one.strong}">DNIe</strong>
                        <span th:text="#{message.obtener.certificado.electronico.section.one.p.one.part.two}">
                            ), es el documento similar al tradicional DNI y que acredita -desde hace m&aacute;s de 50 años- la identidad, los datos personales
                            que en &eacute;l aparecen y la nacionalidad española de su titular. La principal novedad del
                            nuevo DNIe es que incorpora un microchip capaz de guardar de forma segura informaci&oacute;n
                            y de procesarla internamente.</span>
                    </p>
                    <p th:text="#{message.obtener.certificado.electronico.section.one.p.two}">
                        El nuevo DNIe contiene en el interior de su microchip dos certificados electr&oacute;nicos que sirven para realizar sendas
                        funciones, dentro del &aacute;mbito de la tramitaci&oacute;n electr&oacute;nica:
                    </p>
                    <ol>
                        <li>
                            <strong th:text="#{message.obtener.certificado.electronico.section.one.list.one.strong}">Acreditar la identidad de la persona</strong>
                            <span th:text="#{message.obtener.certificado.electronico.section.one.list.one}">electr&oacute;nicamente y de forma indubitada</span>
                        </li>
                        <li>
                            <strong th:text="#{message.obtener.certificado.electronico.section.one.list.two.strong}">Firmar digitalmente documentos electr&oacute;nicos,</strong>
                            <span th:text="#{message.obtener.certificado.electronico.section.one.list.two}">
                                otorg&aacute;ndoles una validez jur&iacute;dica equivalente a la que les proporciona la firma manuscrita
                            </span>
                        </li>
                    </ol>
                    <p>
                        <span th:text="#{message.obtener.certificado.electronico.section.one.p.three}">
                            Si usted dispone del nuevo DNI Electr&oacute;nico, debe asegurarse de que tiene activados los certificados electr&oacute;nicos
                            anteriormente mencionados, para lo que deber&aacute; acreditar su identidad mediante la huella
                            digital en cualquier sede f&iacute;sica de la Oficina del DNI en Territorio Español:
                        </span>
                        <a href="http://www.policia.es/documentacion/docu_esp/oficinas.html" th:text="#{message.obtener.certificado.electronico.section.one.p.three.link}">http://www.policia.es/documentacion/docu_esp/oficinas.html</a>
                    </p>
                    <p th:text="#{message.obtener.certificado.electronico.section.one.p.four}">
                        Si no dispone del nuevo DNI Electr&oacute;nico, tiene la opci&oacute;n de expedir uno nuevo en cualquier oficina del DNI
                        en Territorio Español u optar por el uso de los otros tipos de certificados que se mencionan m&aacute;s
                        adelante en esta p&aacute;gina.</p>
                </div>
                <div>
                    <h4 th:text="#{message.obtener.certificado.electronico.section.two.header}"> Certificado ACCV </h4>
                    <p>
                        <span th:text="#{message.obtener.certificado.electronico.section.two.p.one.part.one}">La</span>
                        <strong th:text="#{message.obtener.certificado.electronico.section.two.p.one.strong}">Agencia de Tecnolog&iacute;a y Certificaci&oacute;n Electr&oacute;nica</strong>
                        <span th:text="#{message.obtener.certificado.electronico.section.two.p.one.part.two}">
                            (ACCV) es un departamento del Instituto Valenciano de Finanzas, a trav&eacute;s de que se proporciona a los ciudadanos, las
                            empresas y las Administraciones P&uacute;blicas los mecanismos de identificaci&oacute;n telem&aacute;tica
                            segura en los tr&aacute;mites administrativos a trav&eacute;s de Internet: los certificados digitales
                            y las tecnolog&iacute;as asociadas.
                        </span>
                    </p>
                    <p th:text="#{message.obtener.certificado.electronico.section.two.p.three}">Los certificados que se pueden obtener son:</p>
                    <ul>
                        <li th:text="#{message.obtener.certificado.electronico.section.two.list.one}">De Ciudadano en Soporte Software</li>
                        <li th:text="#{message.obtener.certificado.electronico.section.two.list.two}">De Ciudadano en Tarjeta Criptogr&aacute;fica</li>
                        <li th:text="#{message.obtener.certificado.electronico.section.two.list.three}">De Entidad</li>
                        <li th:text="#{message.obtener.certificado.electronico.section.two.list.four}">De Pertenencia a Empresa</li>
                        <li th:text="#{message.obtener.certificado.electronico.section.two.list.five}">De Empleado P&uacute;blico</li>
                        <li th:text="#{message.obtener.certificado.electronico.section.two.list.six}">De Sede Electr&oacute;nica</li>
                        <li th:text="#{message.obtener.certificado.electronico.section.two.list.seven}">De Sello de &oacute;rgano</li>
                        <li th:text="#{message.obtener.certificado.electronico.section.two.list.eight}">De Servidor con soporte SSL</li>
                        <li th:text="#{message.obtener.certificado.electronico.section.two.list.nine}">De Servidor con soporte VPN</li>
                        <li th:text="#{message.obtener.certificado.electronico.section.two.list.ten}">De Firma de C&oacute;digo</li>
                        <li th:text="#{message.obtener.certificado.electronico.section.two.list.eleven}">De Aplicaci&oacute;n</li>
                        <li th:text="#{message.obtener.certificado.electronico.section.two.list.twelve}">De Inicio de Sesi&oacute;n</li>
                    </ul>
                    <p>
                        <span th:text="#{message.obtener.certificado.electronico.section.two.p.three}">
                            Obtenga en este enlace la informaci&oacute;n completa de c&oacute;mo obtener el certificado que le interesa:
                        </span>
                        <a href="http://www.accv.es" th:text="#{message.obtener.certificado.electronico.section.two.p.three.link}">http://www.accv.es</a>
                    </p>
                </div>
                <div>
                    <h4 th:text="#{message.obtener.certificado.electronico.section.three.header}"> @firma </h4>
                    <p th:text="#{message.obtener.certificado.electronico.section.three.p.one}">
                        @firma es una plataforma de validaci&oacute;n y firma electr&oacute;nica multi-PKI, que se pone a disposici&oacute;n de las
                        Administraciones P&uacute;blicas, proporcionando servicios para implementar la autenticaci&oacute;n
                        y firma electr&oacute;nica avanzada de una forma r&aacute;pida y efectiva.</p>
                    <p th:text="#{message.obtener.certificado.electronico.section.three.p.two}">
                        @firma es un sistema que determina la validez y vigencia de los certificados digitales de m&uacute;ltiples infraestructuras
                        de clave p&uacute;blica (PKI), entre ellas la del DNI electr&oacute;nico, empleados en operaciones
                        de autenticaci&oacute;n y firma electr&oacute;nica de cualquier aplicaci&oacute;n del &aacute;mbito
                        de las Administraciones P&uacute;blicas que se conecte a sus servicios.</p>
                    <p th:text="#{message.obtener.certificado.electronico.section.three.p.three}">
                        Cuando el ciudadano interacciona con la Administraci&oacute;n, para realizar un tr&aacute;mite personal, es necesario conocer
                        su identidad, que telem&aacute;ticamente se realiza a trav&eacute;s del DNI electr&oacute;nico o
                        un certificado electr&oacute;nico. La Administraci&oacute;n comprueba el estado del certificado o
                        el DNIe con el que el ciudadano se est&aacute; identificando o firmando la solicitud. Para esta comprobaci&oacute;n
                        se utiliza la plataforma de validaci&oacute;n @firma, delegando en ella la verificaci&oacute;n de
                        las credenciales del certificado o DNIe utilizado.</p>
                    <p>
                        <span th:text="#{message.obtener.certificado.electronico.section.three.p.four}">Obtenga en este enlace la informaci&oacute;n completa:</span>
                        <a href="http://administracionelectronica.gob.es/ctt/afirma" th:text="#{message.obtener.certificado.electronico.section.three.p.four.link}">http://administracionelectronica.gob.es/ctt/afirma</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</body>

</html>