<!DOCTYPE html>
<html lang="es" layout:decorator="/layouts/main">

<head>
    <title>Registro electrónico</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-lg-3 g-pr-40--lg g-mb-50 g-mb-0--lg">
                    <div th:replace="~{fragments/sideMenuSede :: menu}"></div>
                </div>
                <!-- End Sidebar -->

                <div class="col-lg-9">
                    <div class="u-heading-v1-1 g-bg-main g-brd-transparent g-mb-20">
                        <h2 class="h3 u-heading-v1__title">Registro electrónico</h2>
                    </div>

                    <div>
                        <p>
                            <span>El </span>
                            <strong>Registro Electrónico del Ayuntamiento de Murcia</strong>
                            <span> es el canal electrónico que permite la presentación telemática de documentos tales como escritos,
                                solicitudes y comunicaciones relacionadas con los trámites municipales. Se trata de un canal
                                alternativo a la presentación de esos mismos documentos en las oficinas municipales de registro.</span>
                        </p>
                        <p>
                            El servicio de Registro Electrónico está disponible 24 horas al día, todos los días del año, a excepción de las interrupciones
                            que sean necesarias por razones técnicas y que serán anuncidas con la debida antelación a través
                            de la propia Sede Electrónica.
                        </p>
                    </div>

                    <div>
                        <h4>Acceso al Registro Electrónico</h4>
                        <p>
                            <span>El acceso al servicio se ofrece directamente desde las fichas de los diferentes procedimientos
                                que contemplan la posibilidad de tramitación electrónica, así como desde la </span>
                            <strong>Carpeta del Ciudadano.</strong>
                        </p>
                    </div>

                    <div>
                        <h4>Requisitos para el uso del Registro Electrónico</h4>
                        <p>Es necesario disponer de alguno de los certificados electrónicos admitidos por el Ayuntamiento.</p>
                        <p>Se debe cumplir con los requisitos técnicos que se especifican en la información de ayuda que se
                            encuentra accesible dentro de cada ficha de procedimiento.</p>
                        <p>Ha de tenerse en cuenta que la no recepción del recibo o, en su caso, la recepción de un mensaje
                            de indicación de error o deficiencia de la transmisión implicará que podría no haberse producido
                            la recepción, debiendo realizarse la presentación en otro momento o utilizando otros medios.</p>
                        <p>
                            <span>En cualquier caso, dentro de la </span>
                            <strong>Carpeta del Ciudadano</strong>
                            <span> (accesible desde la página principal) podrá tener acceso a todos los trámites realizados así
                                como al estado de los trámites en curso, pudiendo comprobar la correcta recepción de todas
                                las solicitudes tramitadas y las resoluciones, y pudiendo obtener -asimismo- en cualquier
                                momento los justificantes y copias de las mismas.</span>
                        </p>
                    </div>

                    <div>
                        <h4>Consulta del Registro Electrónico</h4>
                        <p>
                            <span>El servicio </span>
                            <strong>Carpeta del Ciudadano</strong>
                            <span> le permitirá consultar las anotaciones de entrada que haya realizado en el Registro del Ayuntamiento
                                de Murcia a través de sus canales (presencial o electrónico). También se ofrece el acceso
                                a la solicitud presentada, documentación y justificante o recibo de la anotación.</span>
                        </p>
                        <p>
                            <span>Esta consulta puede ser realizada en la Sede Electrónica por el interesado, con su certificado
                                electrónico desde el servicio </span>
                            <strong>Carpeta del Ciudadano</strong>
                            <span>, accesible desde la página principal de la Sede.</span>
                        </p>
                        <p>
                            <span>También puede comprobar la autenticidad de los justificantes de registro electrónico mediante
                                el Código Seguro de Verificación (CSV) que aparece en el mismos, utilizando el servicio </span>
                            <strong>Verifirma</strong>
                            <span>, de comprobación de documentos con Código Seguro de Verificación (CSV).</span>
                        </p>
                    </div>

                    <div>
                        <h4>Calendario y cómputo de plazos</h4>
                        <p>A efectos del cómputo de plazos, salvo lo regulado en procedimientos especiales, la presentación
                            en un día inhábil se entenderá realizada a las cero horas del siguiente día hábil siguiente.</p>
                        <p>En ningún caso la presentación electrónica de documentos implicará la modificación de los plazos
                            establecidos legalmente.</p>
                        <p>Se consideran días inhábiles, a efectos del registro electrónico del Ayuntamiento, los establecidos
                            como días festivos en el calendario oficial de fiestas laborales de la Comunidad Autónoma de
                            la Región de Murcia y de fiestas locales del municipio de Murcia. Este calendario está publicado
                            en la Sede Electrónica.</p>
                    </div>

                    <div>
                        <h4>Otros canales</h4>
                        <p>La presentación a través de la Sede Electrónica tiene carácter voluntario. Por tanto, su uso constituye
                            una alternativa a la utilización de los lugares de presentación señalados en el artículo 38.4
                            de la Ley 30/1992, de 26 de noviembre, con las excepciones contempladas en el artículo 27 de
                            la Ley 11/2007, de 22 de junio.</p>
                        <p>Si prefiere realizar su trámite presencialmente, puede acudir a las oficinas municipales de registro,
                            cuya información de localización y contacto se encuentra publicada en esta Sede Electrónica.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>