<!DOCTYPE html>
<html lang="es" layout:decorator="/layouts/main">

<head>
    <title>Servicios de la Sede electrónica</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-lg-3 g-pr-40--lg g-mb-50 g-mb-0--lg">
                    <div th:replace="~{fragments/sideMenuSede :: menu}"></div>
                </div>
                <!-- End Sidebar -->

                <div class="col-lg-9">
                    <div class="u-heading-v1-1 g-bg-main g-brd-transparent g-mb-20">
                        <h2 class="h3 u-heading-v1__title">Servicios de la Sede</h2>
                    </div>

                    <div>
                        <p>
                            <span>Tal como establece la </span>
                            <strong>Ordenanza Reguladora de la Administración Electrónica del Ayuntamiento de Murcia</strong>
                            <span>en relación a los servicios municipales, entre los contenidos relativos a la prestación de los
                                servicios incluidos en la Sede Electrónica se establecen los siguientes:</span>
                        </p>
                        <ol type="a">
                            <li>
                                <strong>Los servicios propios o asumidos por el Ayuntamiento de Murcia</strong>
                                <span>, con indicación de la disponibilidad de cada uno de ellos y de sus prestaciones concretas.</span>
                            </li>
                            <li>
                                <strong>Los procedimientos administrativos tramitados total o parcialmente por medios electrónicos</strong>
                                <span>, con indicación de los requisitos esenciales para la tramitación, plazos de resolución y
                                    notificación y el sentido del silencio, incluyéndose asimismo los impresos y formularios
                                    asociados.
                                </span>
                            </li>
                            <li>
                                <strong>Los colectivos e instituciones que en su caso se determinen, como obligados a utilizar medios
                                    electrónicos
                                </strong>
                                <span> en sus relaciones con el Ayuntamiento de Murcia.</span>
                            </li>
                            <li>
                                <strong>Los registros integrantes del sistema registral del Ayuntamiento de Murcia</strong>
                                <span>, con expresión de los documentos que en ellos se puedan presentar, su régimen de funcionamiento,
                                    los sistemas de acceso y comunicación, horarios y cualesquiera otras circunstancias relevantes.</span>
                            </li>
                            <li>
                                <strong>La dirección de las sedes físicas municipales</strong>
                                <span> y otros datos de localización, tales como los números de teléfono o las direcciones de correo
                                    electrónico habilitados para la atención ciudadana.</span>
                            </li>
                            <li>
                                <strong>Los miembros del personal municipal habilitados</strong>
                                <span> para suplir a la ciudadanía en la identificación y autenticación realizada por medios electrónicos.</span>
                            </li>
                            <li>
                                <strong>Los medios de identificación y autenticación</strong>
                                <span> admitidos en las relaciones del Ayuntamiento de Murcia con los ciudadanos, incluidas las
                                    clases de certificados electrónicos admitidos y los prestadores de servicios de certificación
                                    que los emiten.</span>
                            </li>
                            <li>
                                <strong>Los sellos de tiempo</strong>
                                <span> utilizados por el Ayuntamiento de Murcia, con sus características principales.</span>
                            </li>
                            <li>
                                <strong>El perfil del contratante.</strong>
                            </li>
                            <li>
                                <strong>La oferta de empleo</strong>
                                <span> y la información relativa a los procedimientos de selección de personal.</span>
                            </li>
                            <li>
                                <strong>Las convocatorias de subvenciones</strong>
                                <span> y los actos relacionados con los procedimientos de otorgamiento.</span>
                            </li>
                            <li>
                                <strong>Los instrumentos de planeamiento urbanístico</strong>
                                <span>, así como un enlace al sistema de información urbanística.</span>
                            </li>
                            <li>
                                <strong>Cualesquiera otros exigidos por esta ordenanza</strong>
                                <span> o por la legislación aplicable, en su caso.</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>