<!DOCTYPE html>
<html lang="es" layout:decorate="~{layouts/main}">

<head>
	<title th:text="#{message.licitaciones.table.header}"></title>
</head>

<body>

	<div layout:fragment="content">
		<div th:replace="~{fragments/contratante/navbar :: navbar}"></div>
		<div th:replace="~{fragments/genericTable :: genericTable('user', #{message.licitaciones.table.header}, ~{::table})}"></div>
		<div th:replace="~{fragments/paginationBar :: paginationBar(${page})}"></div>
	</div>

	<table class="table u-table--v1 mb-0 table-striped table-hover" >
		<thead>
			<tr class="g-col-border-top-0">
				<th th:text="#{message.licitaciones.table.header.type}">Tipo</th>
				<th th:text="#{message.licitaciones.table.header.publishdate}">Fecha Publicaci&oacute;n</th>
				<th th:text="#{message.licitaciones.table.header.description}">Descripci&oacute;n</th>
				<th th:text="#{message.licitaciones.table.header.budget}">Presupuesto</th>
				<th th:text="#{message.licitaciones.table.header.enddate}">Fin plazo</th>
				<th th:text="#{message.licitaciones.table.header.means}">Medio</th>
				<th th:text="#{message.licitaciones.table.header.size}">Tama&ntilde;o</th>
			</tr>
		</thead>

		<tbody th:if="${licitaciones.getNumberOfElements()}">
			<tr th:each="licitacion, itr : ${licitaciones}" > 
				<td th:text="${licitacion.fichero!=null} ? ${licitacion.fichero.tipo}: ''"></td>
				<td th:text="${#dates.format(licitacion.fechaPub, 'dd-MM-yyyy')}"></td>
				<td th:switch="${licitacion.fichero}">
					<span th:case="null" th:text="${licitacion.descripcion}"></span>
					<span th:case="*">
						<a th:text="${licitacion.descripcion}" th:href="'./download/'+${encrypt.encrypt(licitacion.fichero.id)}" target="_blank"></a>
					</span>
				</td>
				<td th:text="${#numbers.formatDecimal(licitacion.presupuesto,3,'POINT',2,'COMMA')}+' &euro;'"></td>
				<td th:text="${#dates.format(licitacion.finPlazo, 'dd-MM-yyyy')}"></td>
				<td th:text="${licitacion.medio!=null}? ${#strings.arraySplit(#messages.msg('sede.medio'), ',')[licitacion.medio]} : ''"></td>
				<td th:text="${licitacion.fichero!=null} ? 
					${#numbers.formatDecimal((licitacion.fichero.tamanyo/1024)/1024, 1, 'DEFAULT', 2, 'DEFAULT')}
					+' MB': ''"></td>
			</tr>
		</tbody>
		<tbody th:unless="${licitaciones.getNumberOfElements()}"> 
			<tr>
				<td colspan="7" th:text="#{message.warning.not.exist}"></td>
			</tr>
		</tbody>	
	</table>
</body>

</html>