<!DOCTYPE html>
<html lang="es" layout:decorate="~{/layouts/main}">

<head>
    <title th:text="#{message.title.sede.areas}+' - '+#{message.title.sede}">Areas - Sede electrónica</title>
</head>

<body>

    <div layout:fragment="content">
        <!-- Promo Block - Parallax -->
        <section class="g-py-15">
            <div class="row g-ma-0">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <ul class="list-unstyled g-pl-20 g-pr-20">
                        <li class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1 text-center text-uppercase">
                            <a href="#">
                                <span class="u-label g-color-black">
                                    <i class="g-color-primary fa fa-search g-mr-5"></i>
                                    <span th:text="#{message.areas.sidemenu.search.label}">Todas las &aacute;reas</span>
                                </span>
                            </a>
                        </li>
                        <li class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1" th:each="categoria: ${categorias}" th:if="${categoria.idCategoria} != ${currentCat.idCategoria}">
                                <a th:href="'./servicios/'+${categoria.idCategoria}" class="g-text-underline--none--hover">
                                    <div class="media">
                                        <div class="d-flex g-mt-2 g-mr-15">
                                            <span class="d-inline-block u-icon-v3 u-icon-size--sm u-icon-scale-1_2--hover g-bg-primary g-color-white rounded-circle">
                                                    <i th:switch="${iconos.get(categoria.idCategoria).extension}">
                                                            <img th:case="jpg" alt="img" th:src="@{'data:image/jpeg;base64,'+${iconos.get(categoria.idCategoria).base64encoded}}"/>
                                                            <img th:case="png" alt="img" th:src="@{'data:image/png;base64,'+${iconos.get(categoria.idCategoria).base64encoded}}"/>
                                                            <img th:case="gif" alt="img" th:src="@{'data:image/gif;base64,'+${iconos.get(categoria.idCategoria).base64encoded}}"/>
                                                            <span th:case="*" class="icon-communication-081 u-line-icon-pro"></span>
                                                    </i>	
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <p class="m-0">
                                                <strong th:text="${categoria.nombre}">Categoria</strong>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="row g-mb-20">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <div class="u-heading-v1-1 g-bg-main g-brd-transparent g-mb-20">
                                <h2 class="h3 u-heading-v1__title" th:text="${#strings.toUpperCase(currentCat.nombre)}">T&iacute;tulo</h2>
                            </div>
                            <p >
                                <span th:text="#{message.areas.main.text.init}">Todos los tr&aacute;mites y ayudas relacionados con el área de</span><span th:utext="${currentCat.descripcion}"> Servicios Sociales,
                                Atenci&oacute;n a la Dependencia,Sanidad y Cooperaci&oacute;n al desarrollo.</span></p>
                            <form class="g-mb-20">
                                <strong class="g-mr-10" th:text="#{message.areas.main.show.label}">Mostrar:</strong>
                                <!-- Inline Radios -->
                                <div class="form-check form-check-inline mb-0">
                                    <label class="form-check-label mr-2">
                                        <input class="form-check-input mr-1" checked type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" th:text="#{message.areas.main.show.check.one.label}">
                                        
                                    </label>
                                </div>
                                <div class="form-check form-check-inline mb-0">
                                    <label class="form-check-label mr-2">
                                        <input class="form-check-input mr-1" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" th:text="#{message.areas.main.show.check.two.label}">
                                    </label>
                                </div>
                                <!-- End Inline Radios -->
                            </form>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 d-none d-md-block">
                            <span class="u-icon-v2 u-icon-size--3xl u-icon-scale-1_2--hover rounded-circle g-bg-primary g-color-white g-mr-5">
                                <i class="icon-communication-081 u-line-icon-pro"></i>
                            </span>
                        </div>
                    </div>
                    <div>
                        <p>
                            <span th:text="#{message.areas.main.legend}">Nivel de tramitaci&oacute;n:</span>
                            <span class="u-label g-color-black g-mr-10 g-mb-15">
                                <i class="g-color-primary fa fa-info g-mr-3"></i>
                                <span th:text="#{message.areas.main.legend.icon.one}">Informaci&oacute;n</span>
                            </span>
                            <span class="u-label g-color-black g-mr-10 g-mb-15">
                                <i class="g-color-primary fa fa-download g-mr-3"></i>
                                <span th:text="#{message.areas.main.legend.icon.two}">Descarga de formularios</span>
                            </span>
                            <span class="u-label g-color-black g-mb-15">
                                <i class="g-color-primary fa fa-at"></i>
                                <span th:text="#{message.areas.main.legend.icon.three}">Tramitaci&oacute;n electr&oacute;nica</span>
                            </span>
                        </p>
                    </div>
             
                    <div id="accordion-05" class="u-accordion" role="tablist" aria-multiselectable="true">
                        <!-- Card -->
                        <div class="card rounded-0 g-brd-none">
                            <div th:replace="~{fragments/accordionCard :: header('COOPERACI&Oacute;N AL DESARROLLO', '1', false, true)}"></div>
                            <div id="accordion-05-body-1" class="collapse show" role="tabpanel" aria-labelledby="accordion-05-heading-1">
                                <div class="u-accordion__body g-pa-0">
                                    <!-- Basic Table -->
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <td class="align-middle">
                                                        <a href="#">Concesión de Subvenciones para la cooperación al desarollo</a>
                                                    </td>
                                                    <td class="align-middle">Presencial</td>
                                                    <td class="g-width-150 g-pa-0 align-middle">
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-info"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-download"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-gray g-color-gray">
                                                            <i class="fa fa-at"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- End Basic Table -->
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card rounded-0 g-brd-none">
                            <div th:replace="~{fragments/accordionCard :: header('SANIDAD', '2', true, false)}"></div>
                            <div id="accordion-05-body-2" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-2">
                                <div class="u-accordion__body g-pa-0">
                                    <!-- Basic Table -->
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <td class="align-middle">
                                                        <a href="#">Autorización del Sacrificio de Cerdos en régimen de Matanzas Domiciliarias
                                                            para Consumo Familiar</a>
                                                    </td>
                                                    <td class="align-middle">Presencial</td>
                                                    <td class="g-width-150 g-pa-0 align-middle">
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-info"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-download"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-gray g-color-gray">
                                                            <i class="fa fa-at"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#">Prestación de Servicios en el Cementerio Municipal de Nuestro Padre
                                                            Jesús
                                                        </a>
                                                    </td>
                                                    <td>Presencial</td>
                                                    <td class="g-width-150 g-pa-0 align-middle">
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-info"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-download"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-gray g-color-gray">
                                                            <i class="fa fa-at"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#">Control de Aguas de Aljibe</a>
                                                    </td>
                                                    <td>Presencial</td>
                                                    <td class="g-width-150 g-pa-0 align-middle">
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-info"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-download"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-gray g-color-gray">
                                                            <i class="fa fa-at"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#">Control del Agua de Consumo en Instalaciones Interiores</a>
                                                    </td>
                                                    <td>Presencial</td>
                                                    <td class="g-width-150 g-pa-0 align-middle">
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-info"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-download"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-gray g-color-gray">
                                                            <i class="fa fa-at"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- End Basic Table -->
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card rounded-0 g-brd-none">
                            <div th:replace="~{fragments/accordionCard :: header('SERVICIOS SOCIALES', '3', true, true)}"></div>
                            <div id="accordion-05-body-3" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-3">
                                <div class="u-accordion__body g-pa-0">
                                    <!-- Basic Table -->
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <td class="align-middle">
                                                        <a href="#">Autorización del Sacrificio de Cerdos en régimen de Matanzas Domiciliarias
                                                            para Consumo Familiar</a>
                                                    </td>
                                                    <td class="align-middle">Presencial</td>
                                                    <td class="g-width-150 g-pa-0 align-middle">
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-info"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-download"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-gray g-color-gray">
                                                            <i class="fa fa-at"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#">Prestación de Servicios en el Cementerio Municipal de Nuestro Padre
                                                            Jesús
                                                        </a>
                                                    </td>
                                                    <td>Presencial</td>
                                                    <td class="g-width-150 g-pa-0 align-middle">
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-info"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-download"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-gray g-color-gray">
                                                            <i class="fa fa-at"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#">Control de Aguas de Aljibe</a>
                                                    </td>
                                                    <td>Presencial</td>
                                                    <td class="g-width-150 g-pa-0 align-middle">
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-info"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-download"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-gray g-color-gray">
                                                            <i class="fa fa-at"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#">Control del Agua de Consumo en Instalaciones Interiores</a>
                                                    </td>
                                                    <td>Presencial</td>
                                                    <td class="g-width-150 g-pa-0 align-middle">
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-info"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                            <i class="fa fa-download"></i>
                                                        </span>
                                                        <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-gray g-color-gray">
                                                            <i class="fa fa-at"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- End Basic Table -->
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                </div>
            </div>

        </section>
        <!-- End Promo Block - Parallax -->
    </div>
</body>

</html>