<!DOCTYPE html>
<html lang="es" layout:decorator="layouts/main">

<head>
    <title>Ficha procedimiento</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div th:replace="~{fragments/pageHeader :: pageHeader(${servicio.denominacion})}"></div>

            <div class="g-mb-30">
                
                    <span th:utext="${servicio.descripcion}">Descripcion</span>
                
            </div>

            <div class="g-mb-30">
                <!-- Nav tabs -->
                <ul class="nav text-center nav-justified u-nav-v3-1" role="tablist" data-target="nav-3-1-default-hor-left" data-tabs-mobile-type="slide-up-down"
                    data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-lightgray g-bg-primary g-color-white">
                    
                    <li class="nav-item" th:if="${servicio.canalOnline}">
                        <a class="nav-link active" data-toggle="tab" href="#nav-3-1-default-hor-left--1" role="tab">
                            <i class="icon-mouse d-block g-font-size-25 u-tab-line-icon-pro"></i>
                            <span th:text="#{message.instancia.general.tab.one.header}">Online</span>
                        </a>
                    </li>
                    
                    <li class="nav-item" th:if="${servicio.canalTelefonico}">
                        <a class="nav-link" data-toggle="tab" href="#nav-3-1-default-hor-left--2" role="tab">
                            <i class="icon-phone d-block g-font-size-25 u-tab-line-icon-pro"></i>
                            <span th:text="#{message.instancia.general.tab.two.header}">Tel&eacute;fono</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-3-1-default-hor-left--3" role="tab">
                            <i class="icon-user d-block g-font-size-25 u-tab-line-icon-pro"></i>
                            <span th:text="#{message.instancia.general.tab.three.header}">Presencial</span>
                        </a>
                    </li>
                </ul>
                <!-- End Nav tabs -->

                <!-- Tab panes -->
                <div id="nav-3-1-default-hor-left" class="tab-content g-pt-20">
                    <div class="tab-pane fade show active" id="nav-3-1-default-hor-left--1" role="tabpanel">
                        <span th:utext="${servicio.textoOnline}">Texto Online </span>
                        <p class="text-center">
                            <a th:href="@{/procedimiento}+'/'+${servicio.idServicio}" class="btn btn-md u-btn-primary g-color-black rounded-0" th:text="#{message.instancia.general.tab.one.button}">Tramitar Online</a>
                        </p>
                    </div>
                    
                    <div class="tab-pane fade" id="nav-3-1-default-hor-left--2" role="tabpanel">
                        <span th:utext="${servicio.textoTelefonico}">Texto Telefonico</span>
                    </div>
                    <div class="tab-pane fade" id="nav-3-1-default-hor-left--3" role="tabpanel">
                        <span th:utext="${servicio.textoPresencial}">Texto Presencial</span>
                    </div>
                </div>
                <!-- End Tab panes -->
            </div>

            <div id="accordion-05" class="u-accordion" role="tablist" aria-multiselectable="true">
                <!-- Card -->
                <div class="card rounded-0 g-brd-none" th:if="${servicio.destinatarios!=''}">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.one.header}, '1', false, true)}"></div>
                    <div id="accordion-05-body-1" class="collapse show" role="tabpanel" aria-labelledby="accordion-05-heading-1">
                        <div class="u-accordion__body">
                            <span th:utext="${servicio.destinatarios}">Destinatarios</span>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none" th:if="${servicio.documentacion!=''}">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.two.header}, '2', true, false)}"></div>
                    <div id="accordion-05-body-2" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-2">
                        <div class="u-accordion__body">
                            <span th:utext="${servicio.documentacion}">Documentacion</span>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
                <!-- Card -->
                <div class="card rounded-0 g-brd-none" th:if="${#lists.size(servicio.documentos)>0}">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.three.header}, '3', true, true)}"></div>
                    <div id="accordion-05-body-3" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-3">
                        <div class="u-accordion__body">
                            <p th:text="#{message.instancia.general.accordion.three.p}">Aqu&iacute; puede descargar los modelos normalizados autorellenables para su presentaci&oacute;n
                                presencial.
                            </p>
                            <ul>
                                <li th:each="documento: ${servicio.documentos}">
                                    <a th:href="@{${@environment.getProperty('sede.url.descarga')}} + ${documento.enlace}" th:text="${documento.nombre}">Formulario de Instancia General</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none" th:if="${servicio.formaInicio!=''}">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.four.header}, '4', true, false)}"></div>
                    <div id="accordion-05-body-4" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-4">
                        <div class="u-accordion__body">
                           <span th:utext="${servicio.formaInicio}">formaInicio</span>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none" th:if="${servicio.costeYFormadePago!=''}">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.five.header}, '5', true, true)}"></div>
                    <div id="accordion-05-body-5" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-5">
                        <div class="u-accordion__body">
                            <span th:utext="${servicio.costeYFormadePago}">Coste y forma de pago</span>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none" th:if="${servicio.plazoResolucion!=''}">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.six.header}, '6', true, false)}"></div>
                    <div id="accordion-05-body-6" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-6">
                        <div class="u-accordion__body">
                            <span th:utext="${servicio.plazoResolucion}">Plazo de resolucion</span>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none" th:if="${servicio.organosCompetentes!=''}">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.seven.header}, '7', true, true)}"></div>
                    <div id="accordion-05-body-7" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-7">
                        <div class="u-accordion__body">
                           <span th:utext="${servicio.organosCompetentes}">Organos competentes</span>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
                <!-- Card -->
                <div class="card rounded-0 g-brd-none" th:if="${servicio.recursos!='' AND servicio.recursos!=null}">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.eight.header}, '8', true, false)}"></div>
                    <div id="accordion-05-body-8" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-8">
                        <div class="u-accordion__body">
                           <span th:utext="${servicio.recursos}">Recursos</span>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none" th:if="${servicio.fundamentoLegal!=''}">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.nine.header}, '9', true, true)}"></div>
                    <div id="accordion-05-body-9" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-9">
                        <div class="u-accordion__body">
                            <span th:utext="${servicio.fundamentoLegal}">Fundamento legal</span>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none" th:if="${servicio.preguntasFrecuentes!=''}">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.ten.header}, '10', true, false)}"></div>
                    <div id="accordion-05-body-10" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-10">
                        <div class="u-accordion__body">
                            <span th:utext="${servicio.preguntasFrecuentes}">Preguntas frecuentes</span>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card rounded-0 g-brd-none" th:if="${servicio.contactar!=''}">
                    <div th:replace="~{fragments/accordionCard :: header(#{message.instancia.general.accordion.eleven.header}, '11', true, true)}"></div>
                    <div id="accordion-05-body-11" class="collapse" role="tabpanel" aria-labelledby="accordion-05-heading-11">
                        <div class="u-accordion__body">
                            <span th:utext="${servicio.contactar}">Contactar</span>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

            </div>
        </section>
    </div>
</body>

</html>