<!DOCTYPE html>
<html lang="es" layout:decorator="/layouts/main">

<head>
    <title>Procedimiento</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div class="g-mb-20">
                <div>
                    <iframe class="g-brd-0" th:src="@{${iframeUrl}}" width="100%" height="600" scrolling="no" title="Requisitos técnicos tramitador" target="_blank"></iframe>
                </div>
            </div>
        </section>
    </div>
</body>

</html>