<!DOCTYPE html>
<html lang="es" layout:decorator="/layouts/main">

<head>
    <title>Procedimientos</title>
</head>

<body>

    <div layout:fragment="content">
        <section class="g-py-15 g-pl-30 g-pr-30">
            <div th:replace="~{fragments/pageHeader :: pageHeader(#{message.procedimientos.page.header})}"></div>

            <div class="col-xs-12 col-sm-12 offset-md-4 col-md-4 col-lg-4 g-mb-20">
                <form class="g-brd-around g-brd-transparent g-pa-30 g-mb-30" method="POST" th:action="@{/buscar-procedimientos}">
                    <div class="g-mb-10">
                        <div class="input-group">
                            <input type="text" name="searchText" class="form-control rounded-0 form-control-md" th:placeholder="#{message.procedimientos.section.one.search.input.placeholder}"
                                placeholder="Busca procedimientos...">
                        </div>
                    </div>

                    <div class=" g-mb-10">
                        <strong class="g-mr-10" th:text="#{message.procedimientos.section.one.show.label}">Mostrar:</strong>
                        <!-- Inline Radios -->
                        <div class="form-check form-check-inline mb-0">
                            <label class="form-check-label mr-2">
                                <input class="form-check-input mr-1" checked type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <span th:text="#{message.procedimientos.section.one.show.check.one.label}">Todos</span>
                            </label>
                        </div>
                        <div class="form-check form-check-inline mb-0">
                            <label class="form-check-label mr-2">
                                <input class="form-check-input mr-1" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <span th:text="#{message.procedimientos.section.one.show.check.two.label}">Online</span>
                            </label>
                        </div>
                        <!-- End Inline Radios -->
                    </div>

                    <div class="text-center">
                        <button class="btn btn-md u-btn-primary rounded-0" type="submit" th:text="#{message.procedimientos.section.one.button}">
                            Buscar
                        </button>
                    </div>
                </form>
            </div>

            <div id="accordion-05" class="u-accordion" role="tablist" aria-multiselectable="true">
                <div>
                    <p>
                        <span th:text="#{message.procedimientos.section.two.legend}">Nivel de tramitaci&oacute;n:</span>
                        <span class="u-label g-color-black g-mr-10 g-mb-15">
                            <i class="g-color-primary fa fa-info g-mr-3"></i>
                            <span th:text="#{message.procedimientos.section.two.legend.icon.one}">Informaci&oacute;n</span>
                        </span>
                        <span class="u-label g-color-black g-mr-10 g-mb-15">
                            <i class="g-color-primary fa fa-download g-mr-3"></i>
                            <span th:text="#{message.procedimientos.section.two.legend.icon.two}">Descarga de formularios</span>
                        </span>
                        <span class="u-label g-color-black g-mb-15">
                            <i class="g-color-primary fa fa-at"></i>
                            <span th:text="#{message.procedimientos.section.two.legend.icon.three}">Tramitaci&oacute;n electr&oacute;nica</span>
                        </span>
                    </p>
                </div>

                <div th:each="cat,iter: ${categorias}"  th:if="${servicios}">
                    <h5>
                        <i class="fa fa-info g-ml-20 g-mr-20"></i><span th:text="${#strings.toUpperCase(cat.nombre)}"> Categoria</span>
                    </h5>
                    <!-- Card -->
                    
                    <div class="card rounded-0 g-brd-none" >
                        <div th:each="sub,itersub: ${cat.subcategorias}" th:if="${servicios.get(sub.idSubcategoria)}" th:with="index = ${#ids.seq('')}">
                        <div th:replace="~{fragments/accordionCard :: header(${#strings.toUpperCase(sub.nombre)},${index}, ${iter.index==0}? false : true, ${itersub.odd} ? true : false )}"></div>
                        <div th:id="${'accordion-05-body-'+ index}" class="collapse" th:classappend="${iter.index==0}? 'show':''" role="tabpanel" aria-labelledby="accordion-05-heading-1">
                            <div class="u-accordion__body g-pa-0">
                                <!-- Basic Table -->
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr th:each="servicio : ${servicios.get(sub.idSubcategoria)}">
                                                <td class="align-middle">
                                                    <a href="#" th:text="${servicio.denominacion}">Instancia general</a>
                                                </td>
                                                <td class="align-middle" >Online</td>
                                                <td class="g-width-150 g-pa-0 align-middle">
                                                    <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                        <i class="fa fa-info"></i>
                                                    </span>
                                                    <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white g-mr-5">
                                                        <i class="fa fa-download"></i>
                                                    </span>
                                                    <span class="u-icon-v2 u-icon-size--xs rounded-circle g-bg-primary g-color-white">
                                                        <i class="fa fa-at"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- End Basic Table -->
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->
                </div>
                    

                   
                
            </div>
        </section>
    </div>

</body>

</html>